<div class="col-xs-12 col-sm-12 col-md-2 animate-dropdown top-cart-row">
<div id="cart" class="btn-group btn-block">
  <button type="button" data-toggle="dropdown" data-loading-text="{{ text_loading }}" class="btn btn-inverse btn-block btn-lg dropdown-toggle" style="background-color: #e2144a;"><i class="fa fa-shopping-cart"></i> <span id="cart-total">{{ text_items }}</span></button>
  <ul class="dropdown-menu pull-right">
    {% if products or vouchers %}
    <li>
      <table class="table table-striped">
        {% for product in products %}
        <tr>
          <td class="text-center">{% if product.thumb %} <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail" /></a> {% endif %}</td>
          <td class="text-left"><a href="{{ product.href }}">{{ product.name }}</a> {% if product.option %}
            {% for option in product.option %} <br />
            - <small>{{ option.name }} {{ option.value }}</small> {% endfor %}
            {% endif %}
            {% if product.recurring %} <br />
            - <small>{{ text_recurring }} {{ product.recurring }}</small> {% endif %}</td>
          <td class="text-right">x {{ product.quantity }}</td>
          <td class="text-right">{{ product.total }}</td>
          <td class="text-center"><button type="button" onclick="cart.remove('{{ product.cart_id }}');" title="{{ button_remove }}" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></td>
        </tr>
        {% endfor %}
        {% for voucher in vouchers %}
        <tr>
          <td class="text-center"></td>
          <td class="text-left">{{ voucher.description }}</td>
          <td class="text-right">x&nbsp;1</td>
          <td class="text-right">{{ voucher.amount }}</td>
          <td class="text-center text-danger"><button type="button" onclick="voucher.remove('{{ voucher.key }}');" title="{{ button_remove }}" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></td>
        </tr>
        {% endfor %}
      </table>
    </li>
    <li>
      <div>
        <table class="table table-bordered">
          {% for total in totals %}
          <tr>
            <td class="text-right"><strong>{{ total.title }}</strong></td>
            <td class="text-right">{{ total.text }}</td>
          </tr>
          {% endfor %}
        </table>
        <p class="text-right"><a href="{{ cart }}"><strong><i class="fa fa-shopping-cart"></i> {{ text_cart }}</strong></a>&nbsp;&nbsp;&nbsp;<a href="{{ checkout }}"><strong><i class="fa fa-share"></i> {{ text_checkout }}</strong></a></p>
      </div>
    </li>
    {% else %}
    <li>
      <p class="text-center">{{ text_empty }}</p>
    </li>
    {% endif %}
  </ul>
</div>
</div>

<!--<div class="col-xs-12 col-sm-12 col-md-2 animate-dropdown top-cart-row">

  <div class="dropdown dropdown-cart"> <a href="#" class="dropdown-toggle lnk-cart" data-toggle="dropdown">
      <div class="items-cart-inner">
        <div class="basket"> <i class="glyphicon glyphicon-shopping-cart"></i> </div>
          <button type="button" data-toggle="dropdown" data-loading-text="{{ text_loading }}" class="btn btn-inverse btn-block btn-lg dropdown-toggle"><i class="fa fa-shopping-cart"></i> </button>
        <div class="basket-item-count"><span class="count">2</span></div>
        <div class="total-price-basket"> <span class="lbl">cart -</span> <span class="total-price"> <span class="sign">₹</span><span class="value">600.00</span> </span> </div>
      </div>
    </a>
    <ul class="dropdown-menu">
      <li>
        <div class="cart-item product-summary">
          <div class="row">
            <div class="col-xs-4">
              <div class="image"> <a href="detail.html"><img src="assets/images/cart.jpg" alt=""></a> </div>
            </div>
            <div class="col-xs-7">
              <h3 class="name"><a href="index8a95.html?page-detail">Simple Product</a></h3>
              <div class="price">₹600.00</div>
            </div>
            <div class="col-xs-1 action"> <a href="#"><i class="fa fa-trash"></i></a> </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <hr>
        <div class="clearfix cart-total">
          <div class="pull-right"> <span class="text">Sub Total :</span><span class='price'>₹600.00</span> </div>
          <div class="clearfix"></div>
          <a href="checkout.html" class="btn btn-upper btn-primary btn-block m-t-20">Checkout</a> </div>


      </li>
    </ul>

  </div>

 </div>-->
