{{ header }}
<style>
@media (max-width: 768px) {
  .modal {
    width: 100%;
    
  }
  .modal .login-text, .modal h1, .modal img {display: none;}
  
  .modal .form  {
    width: 100%;
  }
  
  .modal .tabs {
    width: 100%;
    background-image : none;
  }
  .modal .position {
    height: auto;
    right: 0;
    height: auto;
    
  }
  .modal .margin-btm-form {
    margin-bottom: 4rem;
  }
}
    .dropdown yamm mega-menu:hover .nav navbar-nav {display: block;}

    .modal {
        width: 700px;
        margin-left: -350px;
        background-color:#01a0e2;
        border-radius: 5px;
        z-index: 11;
        color: white;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23f8f7fb' fill-opacity='0.13'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }

    .close {
        font-size: 16px;
        font-weight: 100;
        color: #D3D3D3;
        float: right;
        border: none;
        margin-right: 5px;
        background-color: #fff;
        outline: none;
    }


    /* Left side content */

    /*.logo {
        width: 150px;
        margin-top: 105px;
        margin-left: 25px;
    }*/

    .login-text {
        width: 250px;
        margin-top: 50px;
    }

    .flat-button {
        color: #eaeaea;
        text-transform: uppercase;
        font-weight: 100;
        font-size: 13px;
        border: none;
    }

    .facebook {
        background: url('https://www.dropbox.com/s/094vovcb4h8qznn/facebook-logo.png'), #3b5998;
        background-size: 20px 20px, cover;
        background-position: 10px center, center center;
        background-repeat: no-repeat;
        margin-top: 50px;
        padding: 15px 30px 15px 45px;
    }

    .brand {
        margin-left: 25px;
    }


    /* Right-side */

    .form {
        width: 400px;
        background-color: #fff;
        margin-left: -50px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        z-indez: 12;
    }

    .form-inner {
        padding: 30px;
    }


    /* Tabs */

    .tabs {
        width: 340px;
        margin-top: 25px;
    }


    .form-content {
        display: none;
    }

    .form-content.current {
        display: inherit;
    }

    .field {
        width: 100%;
        margin-top: 15px;
        padding: 12px 15px 12px 30px;
        font-size: 14px;
        font-weight: 100;
        line-height: 22px;
        border: 1px solid #d8d8d8;
    }


    /*Custom checkbox*/

    .check {
        opacity: 0;
        position: absolute;
    }

    .check .check-label {
        display: inline-block;
        vertical-align: middle;
        margin: 5px;
        cursor: pointer;
    }

    .check-label {
        position: relative;
    }

    .check + .check-label:before {
        content: '';
        background: #fff;
        border: 1px solid #c3c3c3;
        display: inline-block;
        vertical-align: middle;
        width: 10px;
        height: 10px;
        padding: 2px;
        font-size: 12px;
        margin-right: 10px;
        text-align: center;
    }

    .check:checked + .check-label:before {
        content: "\f00c";
        font-family: 'FontAwesome';
        background: #fff;
        color: #2f2f2f;
    }

    .secondary-text,
    .secondary-text a {
        color: #939393;
    }

    .secondary-text a:hover {
        color: #3275C1;
    }

    .forgot {
        float: right;
    }

    .promo {
        font-size: 10px;
    }

    .position {
        height: 480px;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -240px;
    }

    .clear {
        height: 15px;
    }

    /*input:first-of-type {
        margin-top: 40px;
    }*/

    .signin {
        background-color: #e6174a;
        padding: 15px;
        width: 100%;
        color: #fff;
        margin-top: 30px;
    }


    /*No support for IE9, default to standard*/

    .field::-webkit-input-placeholder {
        color: #2f2f2f;
    }

    .field:-moz-placeholder {
        color: #2f2f2f;
        opacity: 1;
    }

    .field::-moz-placeholder {
        color: #2f2f2f;
        opacity: 1;
    }

    .field:-ms-input-placeholder {
        color: #2f2f2f;
    }

    .field:placeholder-shown {
        color: #2f2f2f;
    }

    input:focus,
    .check:focus {
        outline: none;
        outline: 2px solid #3275C1;
        border-radius: 5px;
    }

    .modal-backdrop {
        z-index: 2;
    }
</style>

<div class="modal position" id="login">
    <h1 style="margin-left:25px;margin-top:5rem;">Sign in now</h1>
    <div class="brand login-text">
        Sign in with your email or username<br><br>
        <!--<strong>OR</strong><br><br> Use Facebook secure login for quick access to your account.-->
    </div>
    <!--<button class="brand login flat-button facebook">Continue with Facebook</button>-->
    <img src="https://www.neegozio.com/image/logo.png" style="position: relative;left: 18%;margin-top: 62px;">
    <div class="form position">
        <a href="#"><button class="close" data-dismiss="modal" style="color: #e6174a;
    opacity: 1;
    font-size: 23px;
    margin-right: 10px;
    font-weight: 300;">x</button></a>
        <div class="form-inner">
            <!-- Tabs-->
            <div class="tabs">
                <!--Login Form -->
                <div class="form-content current" id="member">
                    <form id="sign-in" action="https://www.neegozio.com/index.php?route=account/login" method="post" enctype="multipart/form-data" style="margin-bottom: 160px;">
                        <input type="email" name="email" id="user" placeholder="USERNAME / EMAIL" class="field" style="color : black;" required>
                        <input type="password" name="password" placeholder="PASSWORD" class="field" style="color : black;" required>
                        <div class="clear"></div>
                       <a href="https://www.neegozio.com/index.php?route=account/forgotten"><span class="forgot secondary-text">Forgot password?</span></a>
                        <button id="submit" name="sign-in-button" class="flat-button signin">Log In</button>
                    </form>
                    
                    <a href="index.php?route=account/register">New to Neegozio ? Create an account</a>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="body-content outer-top-xs" id="top-banner-and-menu">
  <div class="container">
    <div class="row">

      <!--<div class="col-md-12 wow fadeInUp">
        <div id="hero">
          <div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">
            {% if banner_info %}
              {% for banner in banner_info %}
                <div class="item" style="background-image: url('https://www.neegozio.com/image/{{ banner.image }}');">
                  <div class="container-fluid">
                    <div class="caption bg-color vertical-center text-left">
                      <div class="button-holder fadeInDown-3">
                        {% if(banner.link) %}
                        <a href="{{ banner.link }}" class="btn-lg btn btn-uppercase btn-primary shop-now-button">Shop Now</a>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>

              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>-->

      <div class="col-md-7 wow fadeInUp">
        <div id="hero">
          <div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">
            {% if banner_info %}
              {% for banner in banner_info %}
                <div class="item" style="background-image: url('https://www.neegozio.com/image/{{ banner.image }}');">
                  <div class="container-fluid">
                    <div class="caption bg-color vertical-center text-left">
                      <div class="button-holder fadeInDown-3">
                        {% if(banner.link) %}
                          <a href="{{ banner.link }}" class="btn-lg btn btn-uppercase btn-primary shop-now-button">Shop Now</a>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>

              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>

      <div class="col-md-5 wow fadeInUp">
        <video class="video-fix" src="https://www.neegozio.com/image/catalog/neegozio_video.mp4" autoplay muted loop> </video>
      </div>

      <!-- ============================================== INFO BOXES ============================================== -->
      <div class="col-md-12">
        <div class="info-boxes wow fadeInUp">
          <div class="info-boxes-inner">
            <div class="row">
              <div class="col-md-6 col-sm-4 col-lg-3">
                <div class="info-box">
                  <div class="row">
                    <div class="col-xs-12">
                      <h4 class="info-box-heading green">money back</h4>
                    </div>
                  </div>
                  <h6 class="text"><b>10 Days Money Back Guarantee</b></h6>
                </div>
              </div>
              <!-- .col -->

              <div class="hidden-md col-sm-4 col-lg-3">
                <div class="info-box">
                  <div class="row">
                    <div class="col-xs-12">
                      <h4 class="info-box-heading green">shipping</h4>
                    </div>
                  </div>
                  <h6 class="text"><b>As per Standard Shipping Norms</b></h6>
                </div>
              </div>
              <!-- .col -->

              <div class="hidden-md col-sm-4 col-lg-3">
                <div class="info-box">
                  <div class="row">
                    <div class="col-xs-12">
                      <h4 class="info-box-heading green">Welcome bonus</h4>
                    </div>
                  </div>
                  <h6 class="text"><b>Get ₹50 Off as Welcome Gift</b></h6>
                </div>
              </div>
              <!-- .col -->

              <div class="col-md-6 col-sm-4 col-lg-3">
                <div class="info-box">
                  <div class="row">
                    <div class="col-xs-12">
                      <h4 class="info-box-heading green">Special Sale</h4>
                    </div>
                  </div>
                  <h6 class="text"><b>Additional Rs. 50/- OFF on Online Payment</b></h6>
                </div>
              </div>
              <!-- .col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.info-boxes-inner -->
        </div>
        <!-- /.info-boxes -->
      </div>

      <!-- ============================================== CONTENT ============================================== -->
      <div class="col-xs-12 col-sm-12 col-md-9 homebanner-holder">
        <!-- ============================================== SCROLL TABS ============================================== -->
        <div id="product-tabs-slider" class="scroll-tabs outer-top-vs wow fadeInUp">
          <div class="more-info-tab clearfix " style="background-color : #e2144a; color : white;">
            <h3 class="new-product-title pull-left">New Products</h3>
            <ul class="nav nav-tabs nav-tab-line pull-right" id="new-products-1">
              <!-- <li class="active"><a data-transition-type="backSlide" href="#all" data-toggle="tab">All</a></li>
              -<li><a data-transition-type="backSlide" href="#smartphone" data-toggle="tab">Clothing</a></li>
               <li><a data-transition-type="backSlide" href="#laptop" data-toggle="tab">Electronics</a></li>
               <li><a data-transition-type="backSlide" href="#apple" data-toggle="tab">Shoes</a></li>-->
            </ul>
            <!-- /.nav-tabs -->
          </div>
          <div class="tab-content outer-top-xs">
            <div class="tab-pane in active" id="all">
              <div class="product-slider">
                <div class="owl-carousel home-owl-carousel custom-carousel owl-theme" data-item="4">

                  {% if product_new %}
                    {% for product in product_new %}
                      <div class="item item-carousel">
                        <div class="products">
                          <div class="product">
                            <div class="product-image">
                              <div class="image" > <a href="index.php?route=product/product&product_id={{ product.product_id }}"><img  src="https://www.neegozio.com/image/{{ product.thumb }}" alt="" height="189" width="173"></a> </div>
                              <!-- /.image -->

                              <!--<div class="tag new"><span>new</span></div>-->
                            </div>
                            <!-- /.product-image -->

                            <div class="product-info text-left">
                              <h3 class="name"><a href="index.php?route=product/product&product_id={{ product.product_id }}">{{ product.name }}</a></h3>
                              <div class="rating rateit-small"></div>
                              <div class="description"></div>
                              <div class="product-price">
                                {% if product.special %}
                                  <b style="color : green; font-size: 15px !important;">({{ product.discount }}% OFF)</b>
                                {% endif %}
                                {% if product.special %}
                                  <span class="price"> {{ product.special }} </span>
                                  <span class="price-before-discount" style="color: red;">{{ product.price }}</span>
                                {% else %}
                                  <span class="price"> {{ product.price }} </span>
                                {% endif %}

                              </div>
                              <!-- /.product-price -->

                            </div>
                            <!-- /.product-info -->
                            <div class="cart clearfix animate-effect">
                              <div class="action">
                                <ul class="list-unstyled">
                                  <li class="add-cart-button btn-group">
                                    <button type="button" class="btn btn-primary icon" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md"></span></button>
                                  </li>
                                  <li class="lnk wishlist"> <a type="button" class="add-to-cart" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></a> </li>
                                  <li class="lnk">  <a type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></a> </li>
                                </ul>
                              </div>
                              <!-- /.action -->
                            </div>
                            <!-- /.cart -->
                          </div>
                          <!-- /.product -->

                        </div>
                        <!-- /.products -->
                      </div>
                    {% endfor %}
                  {% endif %}

                  <!-- /.item -->
                </div>
                <!-- /.home-owl-carousel -->
              </div>
              <!-- /.product-slider -->
            </div>
            <!-- /.tab-pane -->
          </div>
          <!-- /.tab-content -->
        </div>
        <!-- /.scroll-tabs -->
        <!-- ============================================== SCROLL TABS : END ============================================== -->
        <!-- ============================================== WIDE PRODUCTS ============================================== -->
        <div class="wide-banners wow fadeInUp outer-bottom-xs">
          <div class="row">
            {% if banner_mid %}
              <div class="col-md-12 col-sm-12">
                <div class="wide-banner cnt-strip">
                  <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      {% if banner_mid %}
                        {% set count = 0 %}
                        {% for key,banner_m in banner_mid %}
                          <li data-target="#myCarousel" data-slide-to="{{ count }}" class="{{ count == 0 ? 'active' : '' }}"></li>
                          {% set count = count+1 %}
                        {% endfor %}
                      {% endif %}
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                      {% if banner_mid %}
                        {% set count = 0 %}
                        {% for key,banner_m in banner_mid %}

                          <div class="item {{ count == 0 ? 'active' : '' }}">
                            <img src="https://www.neegozio.com/image/{{ banner_m.image }}" alt="Los Angeles" style="position: relative;left:37%;">
                            <div class="strip strip-text">
                              <div class="strip-inner">
                                <h2 class="text-right">{{ banner_e.title }}<br></h2>
                              </div>
                            </div>
                          </div>
                          {% set count = count+1 %}
                        {% endfor %}
                      {% endif %}
                      <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="background: transparent;width: 25px; color: black;cursor: pointer;">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="right carousel-control" href="#myCarousel" data-slide="next" style="background: transparent;width: 25px; color: black;cursor: pointer;">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>


                  </div>
                </div>
              </div>
            {% else %}

              <div class="col-md-7 col-sm-7">
                <div class="wide-banner cnt-strip">
                  <div class="image"> <img class="img-responsive" src="catalog/view/assets/images/banners/jeans-770x433.jpg" height="180" width="482" alt="" style=" height: 190px;"> </div>
                  <div class="strip strip-text">
                    <div class="strip-inner">
                      <h2 class="text-right" style="color : #df1a4b;">Coming Soon<br>
                        <!--<span class="shopping-needs">Save up to 40% off</span>--></h2>
                    </div>
                  </div>
                </div>
                <!-- /.wide-banner -->
              </div>
              <!-- /.col -->
              <div class="col-md-5 col-sm-5">
                <div class="wide-banner cnt-strip">
                  <div class="image"> <img class="img-responsive" src="catalog/view/assets/images/banners/brown-shoes-blue-suit-main.jpg" alt="" height="180" width="336"> </div>
                </div>
                <!-- /.wide-banner -->
              </div>
              <!-- /.col -->
            {% endif %}


          </div>
          <!-- /.row -->
        </div>
        <!-- /.wide-banners -->

        <!-- ============================================== WIDE PRODUCTS : END ============================================== -->
        <!-- ============================================== FEATURED PRODUCTS ============================================== -->
        <section class="section featured-product wow fadeInUp">
          <h3 class="section-title" style="background-color : #e2144a; color : white;">Featured products</h3>
          <div class="owl-carousel home-owl-carousel custom-carousel owl-theme outer-top-xs">

            {% if product_featured %}
              {% for product in product_featured %}
                <div class="item item-carousel">
                  <div class="products">
                    <div class="product">
                      <div class="product-image">
                        <div class="image" > <a href="index.php?route=product/product&product_id={{ product.product_id }}"><img  src="https://www.neegozio.com/image/{{ product.thumb }}" alt="" height="189" width="173"></a> </div>
                        <!-- /.image -->

                        <!--<div class="tag new"><span>new</span></div>-->
                      </div>
                      <!-- /.product-image -->

                      <div class="product-info text-left">
                        <h3 class="name"><a href="index.php?route=product/product&product_id={{ product.product_id }}">{{ product.name }}</a></h3>
                        <div class="rating rateit-small"></div>
                        <div class="description"></div>
                        <div class="product-price">
                          {% if product.special %}
                            <b style="color : green; font-size: 15px !important;">({{ product.discount }}% OFF)</b>
                          {% endif %}
                          {% if product.special %}
                            <span class="price"> {{ product.special }} </span>
                            <span class="price-before-discount" style="color: red;">{{ product.price }}</span>
                          {% else %}
                            <span class="price"> {{ product.price }} </span>
                          {% endif %}

                        </div>
                        <!-- /.product-price -->

                      </div>
                      <!-- /.product-info -->
                      <div class="cart clearfix animate-effect">
                        <div class="action">
                          <ul class="list-unstyled">
                            <li class="add-cart-button btn-group">
                              <button type="button" class="btn btn-primary icon" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md"></span></button>
                            </li>
                            <li class="lnk wishlist"> <a type="button" class="add-to-cart" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></a> </li>
                            <li class="lnk">  <a type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></a> </li>
                          </ul>
                        </div>
                        <!-- /.action -->
                      </div>
                      <!-- /.cart -->
                    </div>
                    <!-- /.product -->

                  </div>
                  <!-- /.products -->
                </div>
              {% endfor %}
            {% endif %}
            <!-- /.item -->

          </div>
          <!-- /.home-owl-carousel -->
        </section>
        <!-- /.section -->
        <!-- ============================================== FEATURED PRODUCTS : END ============================================== -->
        <!-- ============================================== WIDE PRODUCTS ============================================== -->
        <div class="wide-banners wow fadeInUp outer-bottom-xs">
          <div class="row">

            {% if banner_end %}
              <div class ="col-md-12">
                <div class="wide-banner cnt-strip" style="border: 1px solid #e2e2e2;">
                  <div id="myCarousel1" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      {% if banner_end %}
                        {% set count = 0 %}
                        {% for key,banner_e in banner_end %}
                          <li data-target="#myCarousel1" data-slide-to="{{ count }}" class="{{ count == 0 ? 'active' : '' }}"></li>
                          {% set count = count+1 %}
                        {% endfor %}
                      {% endif %}
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                      {% if banner_end %}
                        {% set count = 0 %}
                        {% for key,banner_e in banner_end %}

                          <div class="item {{ count == 0 ? 'active' : '' }}">
                            <img src="https://www.neegozio.com/image/{{ banner_e.image }}" alt="Los Angeles" style="position: relative;left:34%;">
                            <div class="strip strip-text">
                              <div class="strip-inner">
                                <h2 class="text-right">{{ banner_e.title }}<br></h2>
                              </div>
                            </div>
                          </div>
                          {% set count = count+1 %}
                        {% endfor %}
                      {% endif %}
                      <a class="left carousel-control" href="#myCarousel1" data-slide="prev" style="background: transparent;width: 25px; color: black;cursor: pointer;">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="right carousel-control" href="#myCarousel1" data-slide="next" style="background: transparent;width: 25px; color: black;cursor: pointer;">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>


                  </div>

                  <!-- /.new-label -->
                </div>
              </div>

            {% else %}

              <div class="col-md-6">
                <div class="wide-banner cnt-strip">
                  <div class="image"> <img class="img-responsive" src="catalog/view/assets/images/banners/Womens Tops.jpg" alt="" height="201" width="848" style="height : 250px;"> </div>
                  <div class="strip strip-text">
                    <div class="strip-inner">
                      <h2 class="text-right">Upcoming Category<br>
                        <!--<span class="shopping-needs">Save up to 40% off</span>--></h2>
                    </div>
                  </div>
                  <div class="new-label">
                    <div class="text">NEW</div>
                  </div>
                  <!-- /.new-label -->
                </div>
                <!-- /.wide-banner -->
              </div>
              <div class ="col-md-6">
                <div class="wide-banner cnt-strip" style="border: 1px solid #e2e2e2;">
                  <div class="image"> <img class="img-responsive" src="catalog/view/assets/images/banners/women_jeans.jpg" alt="" height="201" width="848" style="height : 250px;"> </div>
                  <div class="strip strip-text">
                  </div>
                  <div class="new-label">
                    <div class="text">NEW</div>
                  </div>
                  <!-- /.new-label -->
                </div>
              </div>
              <!-- /.col -->
            {% endif %}



          </div>
          <!-- /.row -->
        </div>
        <!-- /.wide-banners -->
        <!-- ============================================== WIDE PRODUCTS : END ============================================== -->
        <!-- ============================================== BEST SELLER ============================================== -->

        <div class="best-deal wow fadeInUp outer-bottom-xs">
          <h3 class="section-title" style="background-color : #e2144a; color : white;">Best seller</h3>
          <div class="sidebar-widget-body outer-top-xs">
            <div class="owl-carousel home-owl-carousel custom-carousel owl-theme outer-top-xs" style="padding-left: 5px;">

              {% if product_best_seller %}
                {% for product in product_best_seller %}
                  <div class="item item-carousel" style="margin-right: 5px;">
                    <div class="products">
                      <div class="product">
                        <div class="product-image">
                          <div class="image" > <a href="index.php?route=product/product&product_id={{ product.product_id }}"><img  src="https://www.neegozio.com/image/{{ product.thumb }}" alt="" height="189" width="173"></a> </div>
                          <!-- /.image -->

                          <!--<div class="tag new"><span>new</span></div>-->
                        </div>
                        <!-- /.product-image -->

                        <div class="product-info text-left">
                          <h3 class="name"><a href="index.php?route=product/product&product_id={{ product.product_id }}">{{ product.name }}</a></h3>
                          <div class="rating rateit-small"></div>
                          <div class="description"></div>
                          <div class="product-price">
                            {% if product.special %}
                              <b style="color : green; font-size: 15px !important;">({{ product.discount }}% OFF)</b>
                            {% endif %}
                            {% if product.special %}
                              <span class="price"> {{ product.special }} </span>
                              <span class="price-before-discount" style="color: red;">{{ product.price }}</span>
                            {% else %}
                              <span class="price"> {{ product.price }} </span>
                            {% endif %}

                          </div>
                          <!-- /.product-price -->

                        </div>
                        <!-- /.product-info -->
                        <div class="cart clearfix animate-effect">
                          <div class="action">
                            <ul class="list-unstyled">
                              <li class="add-cart-button btn-group">
                                <button type="button" class="btn btn-primary icon" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md"></span></button>
                              </li>
                              <li class="lnk wishlist"> <a type="button" class="add-to-cart" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></a> </li>
                              <li class="lnk">  <a type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></a> </li>
                            </ul>
                          </div>
                          <!-- /.action -->
                        </div>
                        <!-- /.cart -->
                      </div>
                      <!-- /.product -->

                    </div>
                    <!-- /.products -->
                  </div>
                {% endfor %}
              {% endif %}


            </div>
          </div>
          <!-- /.sidebar-widget-body -->
        </div>
        <!-- /.sidebar-widget -->
        <!-- ============================================== BEST SELLER : END ============================================== -->


        <!-- ============================================== FEATURED PRODUCTS ============================================== -->
        <section class="section wow fadeInUp new-arriavls">
          <h3 class="section-title" style="background-color : #e2144a; color : white;">New Arrivals</h3>
          <div class="owl-carousel home-owl-carousel custom-carousel owl-theme outer-top-xs">

            {% if product_new_arrival %}
              {% for product in product_new_arrival %}
                <div class="item item-carousel">
                  <div class="products">
                    <div class="product">
                      <div class="product-image">
                        <div class="image" > <a href="index.php?route=product/product&product_id={{ product.product_id }}"><img  src="https://www.neegozio.com/image/{{ product.thumb }}" alt="" height="189" width="173"></a> </div>
                        <!-- /.image -->

                        <!--<div class="tag new"><span>new</span></div>-->
                      </div>
                      <!-- /.product-image -->

                      <div class="product-info text-left">
                        <h3 class="name"><a href="index.php?route=product/product&product_id={{ product.product_id }}">{{ product.name }}</a></h3>
                        <div class="rating rateit-small"></div>
                        <div class="description"></div>
                        <div class="product-price">
                          {% if product.special %}
                            <b style="color : green; font-size: 15px !important;">({{ product.discount }}% OFF)</b>
                          {% endif %}
                          {% if product.special %}
                            <span class="price"> {{ product.special }} </span>
                            <span class="price-before-discount" style="color: red;">{{ product.price }}</span>
                          {% else %}
                            <span class="price"> {{ product.price }} </span>
                          {% endif %}

                        </div>
                        <!-- /.product-price -->

                      </div>
                      <!-- /.product-info -->
                      <div class="cart clearfix animate-effect">
                        <div class="action">
                          <ul class="list-unstyled">
                            <li class="add-cart-button btn-group">
                              <button type="button" class="btn btn-primary icon" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md"></span></button>
                            </li>
                            <li class="lnk wishlist"> <a type="button" class="add-to-cart" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></a> </li>
                            <li class="lnk">  <a type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></a> </li>
                          </ul>
                        </div>
                        <!-- /.action -->
                      </div>
                      <!-- /.cart -->
                    </div>
                    <!-- /.product -->

                  </div>
                  <!-- /.products -->
                </div>
              {% endfor %}
            {% endif %}
            <!-- /.item -->
          </div>
          <!-- /.home-owl-carousel -->
        </section>
        <!-- /.section -->
        <!-- ============================================== FEATURED PRODUCTS : END ============================================== -->

      </div>
      <!-- /.homebanner-holder -->
      <!-- ============================================== CONTENT : END ============================================== -->

      <!-- ============================================== SIDEBAR ============================================== -->
      <div class="col-xs-12 col-sm-12 col-md-3 sidebar">
        <!-- ============================================== HOT DEALS ============================================== -->
        <div class="sidebar-widget hot-deals wow fadeInUp outer-bottom-xs mt-30" style="padding-top: 5px;">
          <h3 class="section-title" style="background-color : #e2144a; color : white; padding:10px;width : 104%;">hot deals</h3>
          <div class="owl-carousel sidebar-carousel custom-carousel owl-theme outer-top-ss">
            {% if product_hot_deal %}
              {% for product in product_hot_deal %}
                <div class="item">
                  <div class="products">
                    <div class="hot-deal-wrapper">
                      <div class="image">
                        <img src="https://www.neegozio.com/image/{{ product.thumb }}" alt="{{ product.name }}" height="221" width="221">
                      </div>
                      {% if product.special %}
                        <div class="sale-offer-tag"><span>{{ product.discount }}%<br>
                      off</span></div>
                      {% endif %}
                    </div>
                    <!-- /.hot-deal-wrapper -->

                    <div class="product-info text-left m-t-20">
                      <h3 class="name"><a href="index.php?route=product/product&product_id={{product.product_id}}">{{ product.name }}</a></h3>
                      <div class="rating rateit-small"></div>
                      <div class="product-price">
                        {% if product.special %}
                          <span class="price"> {{ product.special }} </span>
                          <span class="price-before-discount">{{ product.price }}</span>
                        {% else %}
                          <span class="price"> {{ product.price }} </span>
                        {% endif %}
                      </div>
                      <!-- /.product-price -->

                    </div>
                    <!-- /.product-info -->

                    <div class="cart clearfix animate-effect">
                      <div class="action">
                        <div class="add-cart-button btn-group">
                          <button type="button" class="btn btn-primary icon" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md"></span>{{ button_cart }}</button>
                        </div>
                      </div>
                      <!-- /.action -->
                    </div>
                    <!-- /.cart -->
                  </div>
                </div>
              {% endfor %}
            {% endif %}

          </div>
          <!-- /.sidebar-widget -->
        </div>
        <!-- ============================================== HOT DEALS: END ============================================== -->


        <!-- ============================================== TRENDING OFFER ============================================== -->

        <div class="sidebar-widget outer-bottom-small wow fadeInUp" style="padding-top: 5px;">
          <h3 class="section-title" style="background-color : #e2144a; color : white;padding:10px;width : 104%;">Trending Products</h3>
          <div class="sidebar-widget-body outer-top-xs" style="height: 230px;">
            <div class="owl-carousel sidebar-carousel special-offer custom-carousel owl-theme outer-top-xs">
              {% if product_trending %}
                {% for product in product_trending %}
                  <div class="item">
                    <div class="products special-product">
                      <div class="product">
                        <div class="product-micro">
                          <div class="row product-micro-row">
                            <div class="col col-xs-5">
                              <div class="product-image">
                                <div class="image" style="margin-top: -40px;"> <a href="#"> <img src="https://www.neegozio.com/image/{{ product.thumb }}" alt="{{ product.name }}"> </a> </div>
                                <!-- /.image -->

                              </div>
                              <!-- /.product-image -->
                            </div>
                            <!-- /.col -->
                            <div class="col col-xs-7">
                              <div class="product-info">
                                <h3 class="name"><a href="index.php?route=product/product&product_id={{product.product_id}}">{{product.name}}</a></h3>
                                <div class="rating rateit-small"></div>
                                <div class="product-price">
                                  {% if product.special %}
                                    <span class="price"> {{ product.special }} </span>
                                    <span class="price-before-discount">{{ product.price }}</span>
                                  {% else %}
                                    <span class="price"> {{ product.price }} </span>
                                  {% endif %}
                                </div>
                                <!-- /.product-price -->

                              </div>
                            </div>
                            <!-- /.col -->
                          </div>
                          <!-- /.product-micro-row -->
                        </div>
                        <!-- /.product-micro -->

                      </div>
                    </div>
                  </div>
                {% endfor %}
              {% endif %}

            </div>
          </div>
          <!-- /.sidebar-widget-body -->
        </div>




        <!-- ============================================== SPECIAL OFFER ============================================== -->

        <div class="sidebar-widget outer-bottom-small wow fadeInUp" style="padding-top: 5px;">
          <h3 class="section-title" style="background-color : #e2144a; color : white;padding:10px;width : 104%;">Special Offer</h3>
          <div class="sidebar-widget-body outer-top-xs" style="height: 230px;">
            <div class="owl-carousel sidebar-carousel special-offer custom-carousel owl-theme outer-top-xs">
              {% if product_special_offer %}
                {% for product in product_special_offer %}
                  <div class="item">
                    <div class="products special-product">
                      <div class="product">
                        <div class="product-micro">
                          <div class="row product-micro-row">
                            <div class="col col-xs-5">
                              <div class="product-image">
                                <div class="image" style="margin-top: -40px;"> <a href="#"> <img src="https://www.neegozio.com/image/{{ product.thumb }}" alt="{{ product.name }}"> </a> </div>
                                <!-- /.image -->

                              </div>
                              <!-- /.product-image -->
                            </div>
                            <!-- /.col -->
                            <div class="col col-xs-7">
                              <div class="product-info">
                                <h3 class="name"><a href="index.php?route=product/product&product_id={{product.product_id}}">{{product.name}}</a></h3>
                                <div class="rating rateit-small"></div>
                                <div class="product-price">
                                  {% if product.special %}
                                    <span class="price"> {{ product.special }} </span>
                                    <span class="price-before-discount">{{ product.price }}</span>
                                  {% else %}
                                    <span class="price"> {{ product.price }} </span>
                                  {% endif %}
                                </div>
                                <!-- /.product-price -->

                              </div>
                            </div>
                            <!-- /.col -->
                          </div>
                          <!-- /.product-micro-row -->
                        </div>
                        <!-- /.product-micro -->

                      </div>
                    </div>
                  </div>
                {% endfor %}
              {% endif %}

            </div>
          </div>
          <!-- /.sidebar-widget-body -->
        </div>
        <!-- /.sidebar-widget -->
        <!-- ============================================== SPECIAL OFFER : END ============================================== -->
        <!-- ============================================== PRODUCT TAGS ============================================== -->
        <div class="sidebar-widget product-tag wow fadeInUp" style="padding-top: 5px;">
          <h3 class="section-title" style="background-color : #e2144a; color : white;padding:10px;width : 104%;">Product tags</h3>
          <div class="sidebar-widget-body outer-top-xs">
            <div class="tag-list">
              {% if categories %}
                {% for category in product_tags %}
                  <a class="item" title="{{ category.name }}" href="{{ category.href }}">{{ category.name }}</a>
                {% endfor %}
              {% endif %}
            </div>
            <!-- /.tag-list -->
          </div>
          <!-- /.sidebar-widget-body -->
        </div>
        <!-- /.sidebar-widget -->
        <!-- ============================================== PRODUCT TAGS : END ============================================== -->
        <!-- ============================================== SPECIAL DEALS ============================================== -->

        <div class="sidebar-widget outer-bottom-small wow fadeInUp outer-top-vs"style="padding-top: 5px;">
          <h3 class="section-title" style="background-color : #e2144a; color : white;padding:10px;width : 104%;">Special Deals</h3>
          <div class="sidebar-widget-body outer-top-xs">
            <div class="owl-carousel sidebar-carousel special-offer custom-carousel owl-theme outer-top-xs">

              {% if product_special_deal %}
                {% for product in product_special_deal %}
                  <div class="item">
                    <div class="products special-product">
                      <div class="product">
                        <div class="product-micro">
                          <div class="row product-micro-row">
                            <div class="col col-xs-5">
                              <div class="product-image">
                                <div class="image" style="margin-top: -40px;"> <a href="#"> <img src="https://www.neegozio.com/image/{{ product.thumb }}" alt="{{ product.name }}"> </a> </div>
                                <!-- /.image -->

                              </div>
                              <!-- /.product-image -->
                            </div>
                            <!-- /.col -->
                            <div class="col col-xs-7">
                              <div class="product-info">
                                <h3 class="name"><a href="index.php?route=product/product&product_id={{product.product_id}}">{{product.name}}</a></h3>
                                <div class="rating rateit-small"></div>
                                <div class="product-price">
                                  {% if product.special %}
                                    <span class="price"> {{ product.special }} </span>
                                    <span class="price-before-discount">{{ product.price }}</span>
                                  {% else %}
                                    <span class="price"> {{ product.price }} </span>
                                  {% endif %}
                                </div>
                                <!-- /.product-price -->

                              </div>
                            </div>
                            <!-- /.col -->
                          </div>
                          <!-- /.product-micro-row -->
                        </div>
                        <!-- /.product-micro -->

                      </div>
                    </div>
                  </div>
                {% endfor %}
              {% endif %}

            </div>
          </div>
          <!-- /.sidebar-widget-body -->
        </div>
        <!-- /.sidebar-widget -->
        <!-- ============================================== SPECIAL DEALS : END ============================================== -->

        <!-- ============================================== Testimonials============================================== -->
        <div class="sidebar-widget  wow fadeInUp outer-top-vs ">
          <div id="advertisement" class="advertisement">
            {% if feedbacks %}
              {% for feedback in feedbacks %}
                <div class="item" style="padding-bottom: 17px;">
                  <div class="avatar"><img src="https://www.neegozio.com/image/{{ feedback.image }}" alt="{{ feedback.author }}"></div>
                  <div class="testimonials" id="feedback_{{ feedback.feedback_id }}">
                    <p id="short">
                      <em>"</em>
                      {{ feedback.feedback |striptags|slice(0, 130) }}.

                      <em>"</em>
                    </p>
                    <p id="full" style="display: none;"><em>"</em>{{ feedback.feedback}} <em>"</em></p>
                    <span class="showmore" id="showmorebtn" style="cursor: pointer;color: cornflowerblue;">Show more >></span>
                    <span class="showless" id="showlessbtn" style="display: none; cursor: pointer;color: cornflowerblue;">Show less <<</span>
                  </div>
                  <div class="clients_author">{{ feedback.author }} <span>{{ feedback.company_name }}</span> </div>
                  <!-- /.container-fluid -->
                </div>
              {% endfor %}
            {% endif %}
            <!-- /.item -->

          </div>
          <!-- /.owl-carousel -->
        </div>

        <!-- ============================================== Testimonials: END ============================================== -->

      </div>
      <!-- /.sidemenu-holder -->
      <!-- ============================================== SIDEBAR : END ============================================== -->

    </div>
    <!-- /.row -->
    <!-- ============================================== BRANDS CAROUSEL ============================================== -->
    <!--<div id="brands-carousel" class="logo-slider wow fadeInUp">
      <div class="logo-slider-inner">
        <div id="brand-slider" class="owl-carousel brand-slider custom-carousel owl-theme">
          <div class="item m-t-15"> <a href="#" class="image"> <img data-echo="assets/images/brands/brand1.png" src="assets/images/blank.gif" alt=""> </a> </div>


          <div class="item m-t-10"> <a href="#" class="image"> <img data-echo="assets/images/brands/brand2.png" src="assets/images/blank.gif" alt=""> </a> </div>


          <div class="item"> <a href="#" class="image"> <img data-echo="assets/images/brands/brand3.png" src="assets/images/blank.gif" alt=""> </a> </div>


          <div class="item"> <a href="#" class="image"> <img data-echo="assets/images/brands/brand4.png" src="assets/images/blank.gif" alt=""> </a> </div>


          <div class="item"> <a href="#" class="image"> <img data-echo="assets/images/brands/brand5.png" src="assets/images/blank.gif" alt=""> </a> </div>


          <div class="item"> <a href="#" class="image"> <img data-echo="assets/images/brands/brand6.png" src="assets/images/blank.gif" alt=""> </a> </div>


          <div class="item"> <a href="#" class="image"> <img data-echo="assets/images/brands/brand2.png" src="assets/images/blank.gif" alt=""> </a> </div>


          <div class="item"> <a href="#" class="image"> <img data-echo="assets/images/brands/brand4.png" src="assets/images/blank.gif" alt=""> </a> </div>


          <div class="item"> <a href="#" class="image"> <img data-echo="assets/images/brands/brand1.png" src="assets/images/blank.gif" alt=""> </a> </div>


          <div class="item"> <a href="#" class="image"> <img data-echo="assets/images/brands/brand5.png" src="assets/images/blank.gif" alt=""> </a> </div>

        </div>

      </div>


    </div>-->
    <!-- /.logo-slider -->
    <!-- ============================================== BRANDS CAROUSEL : END ============================================== -->
  </div>
  <!-- /.container -->
</div>

<script><!--

  $(document).ready(function() {

    $("#showmorebtn").click(function(){
      $("#showlessbtn").show();
      $("#full").show();
      $("#short").hide();
      $("#showmorebtn").hide();
    });
    $("#showlessbtn").click(function(){
      $("#showmorebtn").show();
      $("#short").show();
      $("#full").hide();
      $("#showlessbtn").hide();
    });
  });

  //--></script>
  
  
<script type="text/javascript"><!--
    $(window).on('load',function(){
        $('#login').modal('show');
    });
//--></script>

{{ footer }}