<!--<marquee bgcolor="white" style="color: #2196F3; font-family: 'Montserrat', sans-serif; font-size:24px;width: 84%;margin-left: 8%;" behavior="scroll" ><b><p style="font-size: 24px;">We are Providing Services in Nepal & Bangladesh</p></b></marquee>
<script type="text/javascript">
  $("marquee").hover(function () {
    this.stop();
  }, function () {
    this.start();
  });
</script>
<style>
  .dropdown-large {
    position: static !important;
  }
  .dropdown-menu-large {
    margin-left: 16px;
    margin-right: 16px;
    padding: 20px 0px;
  }
  .dropdown-menu-large > li > ul {
    padding: 0;
    margin: 0;
  }
  .dropdown-menu-large > li > ul > li {
    list-style: none;
  }
  .dropdown-menu-large > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: normal;
  }
  .dropdown-menu-large > li ul > li > a:hover,
  .dropdown-menu-large > li ul > li > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
  }
  .dropdown-menu-large .disabled > a,
  .dropdown-menu-large .disabled > a:hover,
  .dropdown-menu-large .disabled > a:focus {
    color: #999999;
  }
  .dropdown-menu-large .disabled > a:hover,
  .dropdown-menu-large .disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    cursor: not-allowed;
  }
  .dropdown-menu-large .dropdown-header {
    color: #428bca;
    font-size: 18px;
  }
  @media (max-width: 768px) {
    .dropdown-menu-large {
      margin-left: 0 ;
      margin-right: 0 ;
    }
    .dropdown-menu-large > li {
      margin-bottom: 30px;
    }
    .dropdown-menu-large > li:last-child {
      margin-bottom: 0;
    }
    .dropdown-menu-large .dropdown-header {
      padding: 3px 15px !important;
    }
  }



  .dropdown-submenu_1 {
    position: relative;
  }

  .dropdown-submenu_1>.dropdown-menu_1 {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: 0px;
    -webkit-border-radius: 0 .25rem 0.25rem 0;
    -moz-border-radius: 0 .25rem 0.25rem 0;
    border-radius: 0 .25rem 0.25rem 0;
  }
  .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
  }

  .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
  }

  .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }
  .dropdown-submenu.pull-left {
    float: none;
  }

  .dropdown-submenu.pull-left>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: 0px;
    -webkit-border-radius: 0 .25rem 0.25rem 0;
    -moz-border-radius: 0 .25rem 0.25rem 0;
    border-radius: 0 .25rem 0.25rem 0;
  }
  .dropdown-menu_1{
    position: absolute;
    background-color: white;
    border: 1px solid #e2e2e2;
    list-style: none;
    margin-top: 1%;
    width: 100%;
    padding-inline-start: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
  }

  /*.dropdown-menu_1{*/
    /*display: none;*/
  /*}*/
  /*.dropdown-submenu_1:hover .dropdown-menu_1 {display: block;}*/


</style>
{% if categories %}

<div class="container">
  <nav id="menu" class="navbar">
    <div class="navbar-header"><span id="category" class="visible-xs">{{ text_category }}</span>
      <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="index.php?route=common/home">Home</a></li>
        <li><a href="index.php?route=information/information&information_id=4">About Us</a></li>
        <li><a href="index.php?route=information/information&information_id=3">Privacy Policy</a></li>
        <li><a href="index.php?route=information/information&information_id=5">Terms & Conditions</a></li>
        <li><a href="index.php?route=information/information&information_id=7">Returns Policy</a></li>
        {% for category in categories %}
          {% if category.children %}
            <li class="dropdown"><a href="{{ category.href }}" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}</a>
              <div class="dropdown-menu">
                <div class="dropdown-inner"> {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
                    <ul class="list-unstyled">
                      {% for child in children %}
                        <li class="dropdown-submenu_1"><a href="{{ child.href }}">{{ child.name }}</a>
                          {% if child.children %}
                            <ul class="dropdown-menu_1">
                              {% for children in child.children %}
                                <li><a href="{{ children.href }}">{{ children.name }}</a></li>
                              {% endfor %}
                            </ul>
                          {% endif %}
                        </li>
                      {% endfor %}
                    </ul>
                  {% endfor %}
                </div>
                <a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a>
              </div>
            </li>
          {% else %}
            <li><a href="{{ category.href }}">{{ category.name }}</a></li>
          {% endif %}
        {% endfor %}

      </ul>

    </div>
  </nav>
</div>

{% endif %}-->

<!--<marquee bgcolor="white" style="color: #2196F3; font-family: 'Montserrat', sans-serif; font-size:24px;width: 84%;margin-left: 8%;    margin-top: -23px;" behavior="scroll" ><b><p style="font-size: 24px;">We are Providing Services in Nepal & Bangladesh</p></b></marquee>
<script type="text/javascript">
  $("marquee").hover(function () {
    this.stop();
  }, function () {
    this.start();
  });
</script>-->






<div class="header-nav animate-dropdown" style="margin-top: -10px;margin-bottom: 8px;">
  <div class="container">
    <div class="yamm navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button data-target="#mc-horizontal-menu-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
          <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      </div>
      <div class="nav-bg-class">
        <div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
          <div class="nav-outer">
            <ul class="nav navbar-nav">
              <li class="dropdown"> <a href="index.php?route=common/home">Home</a> </li>
              {% for category in categories %}
               {% if category.children %}
              <li class="dropdown yamm mega-menu"> <a href="{{ category.href }}" data-hover="dropdown" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }} <span class="menu-label hot-menu hidden-xs">hot</span></a>
                <ul class="dropdown-menu container">
                  <li>
                    <div class="yamm-content ">
                      <div class="row">
                        {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
                          {% for child in children %}
                          <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                            <h2 class="title"><a href="{{ child.href }}" style="padding: 0px;">{{ child.name }}</a></h2>
                            <ul class="links">
                              {% if child.children %}
                                {% for children in child.children %}
                                  <li><a href="{{ children.href }}">{{ children.name }}</a></li>
                                    {% if children.children %}
                                    {% for childrens in children.children %}
                                        <li><a href="{{ childrens.href }}">{{ childrens.name }}</a></li>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                              {% endif %}
                            </ul>
                          </div>
                          {% endfor %}
                        {% endfor %}
                        <!-- /.col -->

                        <!--<div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                          <h2 class="title">Women</h2>
                          <ul class="links">
                            <li><a href="#">Handbags</a></li>
                            <li><a href="#">Jwellery</a></li>
                            <li><a href="#">Swimwear </a></li>
                            <li><a href="#">Tops</a></li>
                            <li><a href="#">Flats</a></li>
                            <li><a href="#">Shoes</a></li>
                            <li><a href="#">Winter Wear</a></li>
                          </ul>
                        </div>-->
                        <!-- /.col -->

                        <!--<div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                          <h2 class="title">Boys</h2>
                          <ul class="links">
                            <li><a href="#">Toys & Games</a></li>
                            <li><a href="#">Jeans</a></li>
                            <li><a href="#">Shirts</a></li>
                            <li><a href="#">Shoes</a></li>
                            <li><a href="#">School Bags</a></li>
                            <li><a href="#">Lunch Box</a></li>
                            <li><a href="#">Footwear</a></li>
                          </ul>
                        </div>-->
                        <!-- /.col -->

                       <!-- <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                          <h2 class="title">Girls</h2>
                          <ul class="links">
                            <li><a href="#">Sandals </a></li>
                            <li><a href="#">Shorts</a></li>
                            <li><a href="#">Dresses</a></li>
                            <li><a href="#">Jwellery</a></li>
                            <li><a href="#">Bags</a></li>
                            <li><a href="#">Night Dress</a></li>
                            <li><a href="#">Swim Wear</a></li>
                          </ul>
                        </div>-->
                        <!-- /.col -->

                        <div class="col-xs-12 col-sm-6 col-md-4 col-menu banner-image"> <img class="img-responsive" src="assets/images/banners/top-menu-banner.jpg" alt=""> </div>
                        <!-- /.yamm-content -->
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
               {% endif %}
              {% endfor %}

              <li class="dropdown"> <a href="index.php?route=information/information&information_id=4">About Us</a> </li>
              <li class="dropdown"> <a href="index.php?route=information/contact">Contact Us</a> </li>
              <li class="dropdown"> <a href="index.php?route=information/information&information_id=9">Careers</a> </li>

              <!--<li class="dropdown"> <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Pages <span class="menu-label new-menu hidden-xs">new</span></a>
                <ul class="dropdown-menu pages">
                  <li>
                    <div class="yamm-content">
                      <div class="row">
                        <div class="col-xs-12 col-menu">
                          <ul class="links">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="category.html">Category</a></li>
                            <li><a href="detail.html">Detail</a></li>
                            <li><a href="shopping-cart.html">Shopping Cart Summary</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                            <li><a href="sign-in.html">Sign In</a></li>
                            <li><a href="my-wishlist.html">Wishlist</a></li>
                            <li><a href="track-orders.html">Track Orders</a></li>
                            <li><a href="404.html">404</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>-->

            </ul>
            <!-- /.navbar-nav -->
            <div class="clearfix"></div>
          </div>
          <!-- /.nav-outer -->
        </div>
        <!-- /.navbar-collapse -->

      </div>
      <!-- /.nav-bg-class -->
    </div>
    <!-- /.navbar-default -->
  </div>
  <!-- /.container-class -->

</div>

