<div id="search" class="input-group" style=" margin-bottom: 0px;" >
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control input-lg" />
  <span class="input-group-btn">
    <button type="button" class="search-button" style="height: 40px;"><i class="fa fa-search"></i></button>
  </span>
</div>