<div class="row">
  <div class="col-md-6">
    <div class="swiper-viewport">
      <div id="slideshow{{ module }}" class="swiper-container">
        <div class="swiper-wrapper"> {% for banner in banners %}
            <div class="swiper-slide text-center">{% if banner.link %}<a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" /></a>{% else %}<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />{% endif %}</div>
          {% endfor %} </div>
      </div>
      <div class="swiper-pagination slideshow{{ module }}"></div>
      <div class="swiper-pager">
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>

  </div>
  <div class="col-md-6">
    <video class="video-side" src="image/catalog/neegozio_video.mp4" autoplay muted controls loop> </video>
  </div>
</div>

<style>
  .video-side {
    width: 100%;
    height: 312px;
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
    border-radius: 4px;
  }

  .swiper-viewport {
    height: 312px;
    border: 0;
  }

  .swiper-slide img {
    height: 312px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
</style>

<script type="text/javascript"><!--
$('#slideshow{{ module }}').swiper({
	mode: 'horizontal',
	slidesPerView: 1,
	pagination: '.slideshow{{ module }}',
	paginationClickable: true,
	nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
    spaceBetween: 30,
	autoplay: 6000,
    autoplayDisableOnInteraction: true,
	loop: true
});
--></script>