
<style>
    .fa-stack i::before {
        margin-left: 0px !important;
    }
</style>
<footer id="footer" class="footer color-bg">
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="module-heading">
            <h4 class="module-title">Contact Us</h4>
          </div>
          <!-- /.module-heading -->

          <div class="module-body">
            <ul class="toggle-footer" style="">
              <li class="media">
                <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i> </span> </div>
                <div class="media-body">
                  <p>{{ address }}</p>
                </div>
              </li>
              <li class="media">
                <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="fa fa-mobile fa-stack-1x fa-inverse"></i> </span> </div>
                <div class="media-body">
                  <p>{{ phone }}</p>
                </div>
              </li>
              <li class="media">
                <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="fa fa-envelope fa-stack-1x fa-inverse"></i> </span> </div>
                <div class="media-body"> <span><a href="#">{{ email }}</a></span> </div>
              </li>
            </ul>
          </div>
          <!-- /.module-body -->
        </div>
        <!-- /.col -->

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="module-heading">
            <h4 class="module-title">{{ text_service }}</h4>
          </div>
          <!-- /.module-heading -->

          <div class="module-body">
            <ul class='list-unstyled'>
              <li class="first"><a href="{{ contact }}" title="{{ text_contact }}">{{ text_contact }}</a></li>
              <li><a href="{{ return }}" title="{{ text_return }}">{{ text_return }}</a></li>
              <li class="last"><a href="{{ sitemap }}" title="{{ text_sitemap }}">{{ text_sitemap }}</a></li>
            </ul>
          </div>
          <!-- /.module-body -->
        </div>
        <!-- /.col -->

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="module-heading">
            <h4 class="module-title">Information</h4>
          </div>
          <!-- /.module-heading -->

          <div class="module-body">
            <ul class='list-unstyled'>
              {% if informations %}
              {% for information in informations %}
              {% if information.title == 'Career' %}
              {% else %}
                <li><a href="{{ information.href }}">{{ information.title }}</a></li>
                {% endif %}
              {% endfor %}
              {% endif %}

            </ul>
          </div>
          <!-- /.module-body -->
        </div>
        <!-- /.col -->

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="module-heading">
            <h4 class="module-title">Extras</h4>
          </div>
          <!-- /.module-heading -->
          <div class="module-body">
            <ul class='list-unstyled'>
              <li class="first"><a href="{{ manufacturer }}" title="{{ text_manufacturer }}">{{ text_manufacturer }}</a></li>
              <li><a href="{{ voucher }}" title="{{ text_voucher }}">{{ text_voucher }}</a></li>
              <li><a href="{{ affiliate }}" title="{{ text_affiliate }}">{{ text_affiliate }}</a></li>
              <li class=" last"><a href="{{ special }}" title="{{ text_special }}">{{ text_special }}</a></li>
               <li class=" last"><a href="index.php?route=information/information&information_id=9" title="Career">Career</a></li>
            </ul>
          </div>
          <!-- /.module-body -->
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-bar">
    <div class="container">
      <!--<div class="col-xs-12 col-sm-6 no-padding social">
        <ul class="link">
          <li class="fb pull-left"><a target="_blank" rel="nofollow" href="#" title="Facebook"></a></li>
          <li class="tw pull-left"><a target="_blank" rel="nofollow" href="#" title="Twitter"></a></li>
          <li class="linkedin pull-left"><a target="_blank" rel="nofollow" href="#" title="Linkedin"></a></li>
        </ul>
      </div>-->
      <!--<div class="col-xs-12 col-sm-6 no-padding">
        <div class="clearfix payment-methods">
          <ul>
            <li><img src="https://www.neegozio.com/image/catalog/1.png" alt=""></li>
            <li><img src="https://www.neegozio.com/image/catalog/3.png" alt=""></li>
            <li><img src="https://www.neegozio.com/image/catalog/4.png" alt=""></li>
            <li><img src="https://www.neegozio.com/image/catalog/5.png" alt=""></li>
            <li><img src="https://www.neegozio.com/image/catalog/american_express.jpg" alt=""></li>
            <li><img src="https://www.neegozio.com/image/catalog/RuPay-Logo-top.jpg    " alt=""></li>
            <li><img src="https://www.neegozio.com/image/catalog/chase logo.png" alt=""></li>
          </ul>
        </div>
      </div>-->
      
      <div class="col-xs-12 col-sm-12 no-padding social" style="
    text-align: center;">
        <div class="clearfix payment-methods">
          <ul>
            <li><img src="https://www.neegozio.com/image/catalog/1.png" alt=""></li>
            <li><img src="https://www.neegozio.com/image/catalog/3.png" alt=""></li>
            <li><img src="https://www.neegozio.com/image/catalog/4.png" alt=""></li>
            <li><img src="https://www.neegozio.com/image/catalog/5.png" alt=""></li>
            <li><img src="https://www.neegozio.com/image/catalog/american_express.jpg" alt=""></li>
            <li><img src="https://www.neegozio.com/image/catalog/RuPay-Logo-top.jpg" alt=""></li>
            <li><img src="https://www.neegozio.com/image/catalog/chase logo.png" alt=""></li>
          </ul>
        </div>

        <ul class="link" style="text-align: center;display: inline-block;margin-left: 15px;">
          <li class="fb"><a target="_blank" rel="nofollow" href="#" title="Facebook"></a></li>
          <li class="tw"><a target="_blank" rel="nofollow" href="#" title="Twitter"></a></li>
          <li class="linkedin"><a target="_blank" rel="nofollow" href="#" title="Linkedin"></a></li>
        </ul>
        <!-- /.payment-methods -->
      </div>
      
    </div>
  </div>
</footer>



{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->

			<script>
$(document).on('click','.note-insert button',function(){ 
	$('.modal-backdrop.in').css("display","none");
});
$(document).on('click','.note-link button',function(){ 
	$('.modal-backdrop.in').css("display","none");
});
</script>

<!-- JavaScripts placed at the end of the document so the pages load faster
<script src="catalog/view/assets/js/jquery-1.11.1.min.js"></script>
<script src="catalog/view/assets/js/bootstrap.min.js"></script>
<script src="catalog/view/assets/js/bootstrap-hover-dropdown.min.js"></script>-->
<script src="catalog/view/assets/js/owl.carousel.min.js"></script>
<script src="catalog/view/assets/js/echo.min.js"></script>
<script src="catalog/view/assets/js/jquery.easing-1.3.min.js"></script>
<script src="catalog/view/assets/js/bootstrap-slider.min.js"></script>
<script src="catalog/view/assets/js/jquery.rateit.min.js"></script>
<script type="text/javascript" src="catalog/view/assets/js/lightbox.min.js"></script>
<script src="catalog/view/assets/js/bootstrap-select.min.js"></script>
<script src="catalog/view/assets/js/wow.min.js"></script>
<script src="catalog/view/assets/js/scripts.js"></script>

</body></html>