<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>

			<script src="catalog/view/javascript/purpletree/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
{% if direction=='rtl' %}
<link href="catalog/view/javascript/purpletree/bootstrap/css/bootstrap.min-a.css" rel="stylesheet" media="screen" />
<link href="catalog/view/theme/default/stylesheet/purpletree/custom-a.css" rel="stylesheet">
{% else %}
<link href="catalog/view/javascript/purpletree/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<link href="catalog/view/theme/default/stylesheet/purpletree/custom.css" rel="stylesheet">
{% endif %}
			
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
<link href="catalog/view/theme/default/stylesheet/stylesheet.css" rel="stylesheet">
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}

			<script src="catalog/view/javascript/purpletree/common.js" type="text/javascript"></script>	
			
</head>
<body>
<nav id="top">
  <div class="container">{{ currency }}
    {{ language }}
    <div id="top-links" class="nav pull-right">
      <ul class="list-inline">

			{% if module_purpletree_multivendor_browse_sellers %}
			<!--<li><i class="fa fa-users" aria-hidden="true"></i> <span><a href="{{ browse_seller_link }}">{{ text_browse_sellers }}</a></span></li>-->
			{% endif %}
			
        <li><a href="{{ contact }}"><i class="fa fa-phone"></i></a> <span class="hidden-xs hidden-sm hidden-md">{{ telephone }}</span></li>
        <li class="dropdown"><a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle" data-toggle="dropdown" style="color:blue"><i class="fa fa-user"></i> <span class="hidden-xs hidden-sm hidden-md"><b>{{ text_account }}</b></span> <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-right">
            {% if logged %}
            <li><a href="{{ account }}">{{ text_account }}</a></li>
            <li><a href="{{ order }}">{{ text_order }}</a></li>
            <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
            <li><a href="{{ download }}">{{ text_download }}</a></li>
            <li><a href="{{ logout }}">{{ text_logout }}</a></li>
            {% else %}
            <li><a href="{{ register }}">{{ text_register }}</a></li>
            <li><a href="{{ login }}">{{ text_login }}</a></li>
            {% endif %}
          </ul>
        </li>
        <li class="dropdown"><a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle" data-toggle="dropdown" style="color:blue"><i class="fa fa-user"></i> <span class="hidden-xs hidden-sm hidden-md"><b>Seller Options</b></span> <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="index.php?route=account/seller" name="seller" id="seller">Sell on Neegozio</a></li>
            <li><a href="{{ register }}" name="reseller" id="reseller">Become Reseller</a></li>
          </ul>
        </li>
        <li><a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}" style="color:blue"><i class="fa fa-heart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_wishlist }}</span></a></li>
        <li><a href="{{ shopping_cart }}" title="{{ text_shopping_cart }}" style="color:blue"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md"><b>{{ text_shopping_cart }}</b></span></a></li>
        <li><a href="{{ checkout }}" title="{{ text_checkout }}" style="color:blue"><i class="fa fa-share"></i> <span class="hidden-xs hidden-sm hidden-md"><b>{{ text_checkout }}</b></span></a></li>
      <li><a href="index.php?route=information/information&information_id=9" title="Career" style="color:blue"><i class="fa fa-career"></i> <span class="hidden-xs hidden-sm hidden-md"><b>Career</b></span></a></li>
      <li><img src="/image/catalog/Flag_of_India.png"></li>
      
      </ul>
    </div>
  </div>
</nav>
<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div id="logo">{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" style="height: 82px; margin-top: -19px;"/></a>{% else %}
          <h1><a href="{{ home }}">{{ name }}</a></h1>
          {% endif %}</div>
      </div>
      <div class="col-sm-5">{{ search }}</div>
      <div class="col-sm-3">{{ cart }}</div>
    </div>
  </div>
</header>
{{ menu }}
