
/* NOTE: contaner with main image and selector's container */
div.MagicToolboxContainer {
    text-align: center;
}
div.MagicToolboxContainer.minWidth {
    min-width: 250px;
}

/* NOTE: main image styles */
div.MagicToolboxContainer > a {
    margin: 0 auto;
}

/* NOTE: container with selectors */
div.MagicToolboxSelectorsContainer {
    clear: both;
}

/* NOTE: selectors styles */
div.MagicToolboxSelectorsContainer a {
    display: inline-block;
    margin: 4px;
}

/* NOTE: contaner with message under Magic Zoom Plus */
div.MagicToolboxMessage {
    text-align: center;
}

/* NOTE: styles for templates */
div.MagicToolboxMainContainer {
    max-width: 100%;
}
div.MagicToolboxSelectorsContainer img {
    max-width: 100%;
}

/* NOTE: selectors on the bottom */
div.MagicToolboxContainer.selectorsBottom .MagicToolboxSelectorsContainer {
    padding-top: 5px;
}

/* NOTE: selectors on the top */
div.MagicToolboxContainer.selectorsTop .MagicToolboxSelectorsContainer {
    padding-bottom: 5px;
}




/* NOTE: to highlight magic360 selector (magiczoom(plus) + magic360) */
.zoom-with-360.mz-thumb-selected img {
    -webkit-filter: none;
    filter: none;
}
.zoom-with-360.mz-thumb:hover:not(.active-selector) img,
.zoom-with-360.m360-selector:hover:not(.active-selector) img {
    -webkit-filter: brightness(70%) !important;
    filter: brightness(70%) !important;
}
.zoom-with-360.active-selector img {
    -webkit-filter: brightness(50%) !important;
    filter: brightness(50%) !important;
}
/* NOTE: IE fix */
.no-cssfilters-magic .zoom-with-360.mz-thumb-selected img {
    opacity: 1;
    filter: alpha(opacity=100);
}
/*.no-cssfilters-magic .zoom-with-360.mz-thumb,*/
.no-cssfilters-magic .zoom-with-360.m360-selector {
    background: #000;
}
/*.no-cssfilters-magic .zoom-with-360.mz-thumb:hover:not(.active-selector) img,*/
.no-cssfilters-magic .zoom-with-360.m360-selector:hover:not(.active-selector) img {
    opacity: .7;
    filter: alpha(opacity=70);
}
.no-cssfilters-magic .zoom-with-360.active-selector img {
    opacity: .5;
    filter: alpha(opacity=50);
}
/*.mz-thumb, .mz-thumb:focus,*/
.zoom-with-360.m360-selector, .zoom-with-360.m360-selector:focus {
    display: inline-block;
    line-height: 0;
    outline: none;
}
/* NOTE: border for magic360 selector */
.zoom-with-360.m360-selector img {
    border: 0;
    box-shadow: 0 0 1px 0px rgba(0,0,0,0.3);
    box-sizing: border-box;
}
.ie9-magic .zoom-with-360.m360-selector {
    box-shadow: 0 0 4px 0px rgba(0,0,0,0.3);
}

/* NOTE: magicscroll makes the image smaller if there is a margin */
/*
.MagicScrollItem a {
    margin: 0 !important;
}
*/


div.MagicToolboxContainer.selectorsLeft,
div.MagicToolboxContainer.selectorsRight {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;        
}

div.MagicToolboxContainer.selectorsLeft .MagicToolboxSelectorsContainer,
div.MagicToolboxContainer.selectorsRight .MagicToolboxSelectorsContainer {
    min-height: 300px;
}

div.MagicToolboxContainer.selectorsLeft .MagicToolboxMainContainer,
div.MagicToolboxContainer.selectorsRight .MagicToolboxMainContainer {
    flex-grow: 1;
}

div.MagicToolboxContainer.selectorsLeft .MagicToolboxMainContainer,
div.MagicToolboxContainer.selectorsRight .MagicToolboxMainContainer {
    font-size:0px;
}

div.MagicToolboxContainer.selectorsLeft .MagicToolboxSelectorsContainer a,
div.MagicToolboxContainer.selectorsRight .MagicToolboxSelectorsContainer a {
    margin:0 0 10px 0;
}

div.MagicToolboxContainer.selectorsLeft .MagicToolboxSelectorsContainer {

}
div.MagicToolboxContainer.selectorsRight .MagicToolboxSelectorsContainer {
}

div.MagicToolboxContainer.selectorsLeft .MagicToolboxMainContainer {
    width: auto;
    padding-left: 10px;
}
div.MagicToolboxContainer.selectorsRight .MagicToolboxMainContainer {
    width: auto;
    padding-right: 10px;
}

div.MagicToolboxContainer.selectorsLeft .MagicToolboxSelectorsContainer,
div.MagicToolboxContainer.selectorsRight .MagicToolboxSelectorsContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

div.MagicToolboxContainer.selectorsLeft .MagicToolboxSelectorsContainer .MagicScroll,
div.MagicToolboxContainer.selectorsRight .MagicToolboxSelectorsContainer .MagicScroll {
    height: 100%;
    flex:1;
}

div.MagicToolboxContainer.selectorsLeft .MagicToolboxSelectorsContainer .MagicScroll a, 
div.MagicToolboxContainer.selectorsRight .MagicToolboxSelectorsContainer .MagicScroll a { 
    margin: 0; 
}

@media only screen and (max-width: 767px) {
    div.MagicToolboxContainer.selectorsLeft,
    div.MagicToolboxContainer.selectorsRight {
        flex-direction: column;
    }
    div.MagicToolboxContainer.selectorsLeft .MagicToolboxSelectorsContainer,
    div.MagicToolboxContainer.selectorsRight .MagicToolboxSelectorsContainer {
        order:2;
        width: 100% !important;        
        margin-bottom:10px;
        min-height: 0px;
        flex:auto;
        flex-basis: auto !important;
    }
    div.MagicToolboxContainer.selectorsLeft .MagicToolboxSelectorsContainer a,
    div.MagicToolboxContainer.selectorsRight .MagicToolboxSelectorsContainer a {
        margin:10px 5px;
    }

    div.MagicToolboxContainer.selectorsLeft .MagicToolboxMainContainer,
    div.MagicToolboxContainer.selectorsRight .MagicToolboxMainContainer {
        order:1;
        padding:0px; 
    }
    div.MagicToolboxContainer.selectorsLeft .MagicToolboxSelectorsContainer:after,
    div.MagicToolboxContainer.selectorsRight .MagicToolboxSelectorsContainer:after {
        content: none;
    }
    div.MagicToolboxContainer.selectorsLeft .MagicToolboxSelectorsContainer .MagicScroll,
    div.MagicToolboxContainer.selectorsRight .MagicToolboxSelectorsContainer .MagicScroll {
        height: auto;
    }
    div.MagicToolboxContainer.selectorsLeft .MagicToolboxSelectorsContainer .MagicScroll, 
    div.MagicToolboxContainer.selectorsRight .MagicToolboxSelectorsContainer .MagicScroll { 
        margin: 10px 0 0 0; 
    }
}
#latest_home {
    margin: 0px auto;
}
#bestseller_home {
    margin: 0px auto;
}
#special_home {
    margin: 0px auto;
}
#featured_home {
    margin: 0px auto;
}


.product-info .right div.options, .product-info .right .description, .product-info .right .htabs,  .product-info .right .price, .product-info .right .cart, .product-info .right .review{ 
    overflow:auto; 
}
.product-info .right .htabs {
    overflow-y:hidden;
}
.MagicToolboxContainer {  max-width:none !important; }


/* NOTE: to add 'play' icon over video thumbnails */
a[data-magic-slide-id^=video] {
    position: relative;
}
a[data-magic-slide-id^=video] span {
    position: absolute;
    color: #fff;
    text-shadow: 0px 1px 10px #000;
    top: 50% !important;
    left: 50% !important;
    display: inline-block;
    transform: translateY(-50%) translateX(-50%) !important;
    -webkit-transform: translateY(-50%) translateX(-50%) !important;
    z-index: 100;
    width: 36px !important;
    height: 36px !important;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.3) !important;
    background-size: 50%;
    background-position: center center;
}
a[data-magic-slide-id^=video] span:before {
    content: '';
    width: 12px;
    height: 16px;
    border-top: 8px solid transparent;
    border-left: 12px solid rgba(255,255,255,0.7);
    border-bottom: 8px solid transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translateY(-50%) translateX(-50%);
    -webkit-transform:translateY(-50%) translateX(-50%);
    margin-left: 1px;
    box-sizing: border-box !important;
}
a[data-magic-slide-id^=video]:hover span {
    background-color: rgba(0,0,0,0.7) !important;
}
a[data-magic-slide-id^=video]:hover span:before {
    border-left-color: rgba(255,255,255,1);
}
/*NOTE: for video frame */
div.magictoolboxVideoContainer {
    display: none;
    position: relative;
   overflow: hidden;
   max-width: 100%;
   padding-bottom: 56.25%;
   height: 0;
   height: auto;
   min-width: 100px;
}

div.magictoolboxVideoContainer iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100% !important;
   height: 100% !important;
}
#qt-similar-product { display: none !important; }