{% if categories %}
<div class="container">
  <nav id="menu" class="navbar">
    <div class="navbar-header"><span id="category" class="visible-xs">{{ text_category }}</span>
      <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="index.php?route=common/home">Home</a></li>
        <li><a href="index.php?route=information/information&information_id=4">About Us</a></li>
        <li><a href="index.php?route=information/information&information_id=3">Privacy Policy</a></li>
        <li><a href="index.php?route=information/information&information_id=5">Terms & Conditions</a></li>
        <li><a href="index.php?route=information/information&information_id=7">Returns Policy</a></li>
        {% for category in categories %}
        {% if category.children %}
        <li class="dropdown"><a href="{{ category.href }}" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}</a>
          <div class="dropdown-menu">
            <div class="dropdown-inner"> {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
              <ul class="list-unstyled">
                {% for child in children %}
                
		        	{% if child.children_lv3  %}
                		<li><a class="arrow" href="{{ child.href }}">{{ child.name }}</a>
                        	<div class="menu3rdlevel">
            					<div class="menu3rdlevel_inner">
              						{% for children_lv3 in child.children_lv3|batch(child.children_lv3|length / child.column|round(1, 'ceil')) %}
              							<ul class="list-unstyled">
                							{% for child_lv3 in children_lv3 %}
                                            	<li><a href="{{ child_lv3.href }}">{{ child_lv3.name }}</a></li>
                                            {% endfor %}
                                       	</ul>
                                 	{% endfor %}
                           		</div>
                                <a href="{{ child.href }}" class="see-all">{{ text_all }} {{ child.name }}</a>
                           	</div>
                        </li>
                   	{% else %}
                    	<li><a href="{{ child.href }}">{{ child.name }}</a></li>
                  	{% endif %}
      
                {% endfor %}
              </ul>
              {% endfor %}</div>
            <a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a> </div>
        </li>
        {% else %}
        <li><a href="{{ category.href }}">{{ category.name }}</a></li>
        {% endif %}
        {% endfor %}

      </ul>
    </div>
  </nav>
</div>
{% endif %} 