{{ header }}
<div class="container">
	<ul class="breadcrumb">
		{% for breadcrumb in breadcrumbs %}
		<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
		{% endfor %}
	</ul>
	<div class="row">
		<div id="content" class="col-sm-12">
			{{ content_top }}
				<h1>{{ text_policy }}</h1>
				{{ store_policy }}
			{{ content_bottom }}
		</div>
	</div>
</div>
{{ footer }}