{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-banner" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-banner" class="form-horizontal">
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="status" id="input-status" class="form-control">
                {% if status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <br />
          <ul class="nav nav-tabs" id="language">
            {% for language in languages %}
            <li><a href="#language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
            {% endfor %}
          </ul>
          <div class="tab-content">
            {% set image_row = 0 %}
            {% for language in languages %}
            <div class="tab-pane" id="language{{ language.language_id }}">
              <table id="images{{ language.language_id }}" class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <td class="text-left">{{ entry_title }}</td>
                    <td class="text-left">{{ entry_link }}</td>
                    <td class="text-center">{{ entry_image }}</td>
                    <td class="text-right">{{ entry_sort_order }}</td>
                    <td></td>
                  </tr>
                </thead>
                <tbody>
                  {% if banner_images[language.language_id] %}
                  {% for banner_image in banner_images[language.language_id] %}
                  <tr id="image-row{{ image_row }}">
                    <td class="text-left"><input type="text" name="banner_image[{{ language.language_id }}][{{ image_row }}][title]" value="{{ banner_image.title }}" placeholder="{{ entry_title }}" class="form-control" />
                      {% if error_banner_image[language.language_id][image_row] %}
                      <div class="text-danger">{{ error_banner_image[language.language_id][image_row] }}</div>
                      {% endif %}</td>
                    <td class="text-left" style="width: 30%;"><input type="text" name="banner_image[{{ language.language_id }}][{{ image_row }}][link]" value="{{ banner_image.link }}" placeholder="{{ entry_link }}" class="form-control" /></td>
                    <td class="text-center"><a href="" id="thumb-image{{ image_row }}" data-toggle="image" class="img-thumbnail">
                        <img src="{{ banner_image.thumb }}" alt="" title="" data-placeholder="{{ placeholder }}"  id = "edit_image{{ image_row }}" height="100" width="100"/></a>
                      <input type="hidden" name="banner_image[{{ language.language_id }}][{{ image_row }}][image]" value="{{ banner_image.image }}" id="input-image{{ image_row }}" class="call_response" /><button type="button" data-toggle="tooltip" title="{{ button_upload }}" id="button-upload_{{ image_row }}" class="btn btn-default" data-element="add-image" ><i class="fa fa-upload"></i></button></td>
                    <td class="text-right" style="width: 10%;"><input type="text" name="banner_image[{{ language.language_id }}][{{ image_row }}][sort_order]" value="{{ banner_image.sort_order }}" placeholder="{{ entry_sort_order }}" class="form-control" /></td>
                    <td class="text-left"><button type="button" onclick="$('#image-row{{ image_row }}, .tooltip').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>
                  </tr>


                    <script type="text/javascript"><!--
                      $('#button-upload_{{ image_row }}').on('click', function() {

                        $('#form-upload').remove();

                        $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file[]" value="" multiple="multiple" /></form>');

                        $('#form-upload input[name=\'file[]\']').trigger('click');

                        if (typeof timer != 'undefined') {
                          clearInterval(timer);
                        }

                        timer = setInterval(function() {
                          if ($('#form-upload input[name=\'file[]\']').val() != '') {
                            clearInterval(timer);

                            $.ajax({
                              url: 'index.php?route=common/filemanager/upload&user_token={{ user_token }}&directory={{ directory }}',
                              type: 'post',
                              dataType: 'json',
                              data: new FormData($('#form-upload')[0]),
                              cache: false,
                              contentType: false,
                              processData: false,
                              beforeSend: function() {
                                $('#button-upload i').replaceWith('<i class="fa fa-circle-o-notch fa-spin"></i>');
                                $('#button-upload').prop('disabled', true);
                              },
                              complete: function() {
                                $('#button-upload i').replaceWith('<i class="fa fa-upload"></i>');
                                $('#button-upload').prop('disabled', false);
                              },
                              success: function(json) {
                                if (json['error']) {
                                  alert(json['error']);

                                }

                                if (json['success']) {

                                  console.log('sukama;l')

                                  alert('File Uploaded Successfully!!');

                                  $('#input-image{{ image_row }}').val('catalog/'+json['file_name']);

                                  //$('#input-image{{ image_row }}').data('id', json['file_name']);
                                  $( '#edit_image{{ image_row }}' ).attr('src','https://www.neegozio.com/image/catalog/'+json['file_name']);

                                  console.log('https://www.neegozio.com/image/catalog/'+json['file_name']);

                                  $('#button-refresh').trigger('click');
                                }
                              },
                              error: function(xhr, ajaxOptions, thrownError) {
                                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                              }
                            });
                          }
                        }, 500);
                      });
                      //--></script>

                  {% set image_row = image_row + 1 %}



                  {% endfor %}
                  {% endif %}
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="4"></td>
                    <td class="text-left"><button type="button" onclick="addImage('{{ language.language_id }}');" data-toggle="tooltip" title="{{ button_banner_add }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
                  </tr>
                </tfoot>
              </table>
            </div>
            {% endfor %}
          </div>
        </form>
      </div>
    </div>
  </div>
  <link href="view/javascript/codemirror/lib/codemirror.css" rel="stylesheet" />
  <link href="view/javascript/codemirror/theme/monokai.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/codemirror/lib/codemirror.js"></script>
  <script type="text/javascript" src="view/javascript/codemirror/lib/xml.js"></script>
  <script type="text/javascript" src="view/javascript/codemirror/lib/formatting.js"></script>
  <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
  <link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
  <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
  <script type="text/javascript"><!--
var image_row = {{ image_row }};

function addImage(language_id) {
	html  = '<tr id="image-row' + image_row + '">';
    html += '  <td class="text-left"><input type="text" name="banner_image[' + language_id + '][' + image_row + '][title]" value="" placeholder="{{ entry_title }}" class="form-control" /></td>';	
	html += '  <td class="text-left" style="width: 30%;"><input type="text" name="banner_image[' + language_id + '][' + image_row + '][link]" value="" placeholder="{{ entry_link }}" class="form-control" /></td>';	
	html += '  <td class="text-center"><a href="" id="thumb-image' + image_row + '" data-toggle="image" class="img-thumbnail"><img src="{{ placeholder }}" alt="" title="" data-placeholder="{{ placeholder }}" id="call_image" height = "100" weight="100"/></a><input type="hidden" name="banner_image[' + language_id + '][' + image_row + '][image]" value="" id="input-image' + image_row + '" class="call_response"/><button type="button" data-toggle="tooltip" title="{{ button_upload }}" class="btn btn-default call_ajax" data-element="add-image" ><i class="fa fa-upload"></i></button></td>';
	html += '  <td class="text-right" style="width: 10%;"><input type="text" name="banner_image[' + language_id + '][' + image_row + '][sort_order]" value="" placeholder="{{ entry_sort_order }}" class="form-control" /></td>';
	html += '  <td class="text-left"><button type="button" onclick="$(\'#image-row' + image_row  + ', .tooltip\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
	html += '</tr>';
	
	$('#images' + language_id + ' tbody').append(html);
	
	image_row++;
}
//--></script> 
  <script type="text/javascript"><!--
$('#language a:first').tab('show');
//--></script>

  <script type="text/javascript"><!--


    $(document).on('click', ".call_ajax", function() {

      $this = $(this);
      element = $this.data('element');
      console.log(element);
      //console.log('1')
      $('#form-upload').remove();

      $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file[]" value="" multiple="multiple" /></form>');

      $('#form-upload input[name=\'file[]\']').trigger('click');

      if (typeof timer != 'undefined') {
        clearInterval(timer);
      }

      timer = setInterval(function() {
        if ($('#form-upload input[name=\'file[]\']').val() != '') {
          clearInterval(timer);

          $.ajax({
            url: 'index.php?route=common/filemanager/upload&user_token={{ user_token }}&directory={{ directory }}',
            type: 'post',
            dataType: 'json',
            data: new FormData($('#form-upload')[0]),
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function() {
              $('#button-upload i').replaceWith('<i class="fa fa-circle-o-notch fa-spin"></i>');
              $('#button-upload').prop('disabled', true);
            },
            complete: function() {
              $('#button-upload i').replaceWith('<i class="fa fa-upload"></i>');
              $('#button-upload').prop('disabled', false);
            },
            success: function(json) {
              if (json['error']) {
                alert(json['error']);

              }

              if (json['success']) {

                alert('File Uploaded Successfully!!');

                console.log(json['file_name'])
                if(element == 'main-image'){
                  console.log($this.prev().val('catalog/'+json['file_name']))
                  $this.prev().prev().find( "#call_main" ).attr('src','https://www.neegozio.com/image/catalog/'+json['file_name']);
                }
                else {
                  console.log($this.prev().val('catalog/'+json['file_name']))
                  $this.prev().prev().find( "#call_image" ).attr('src','https://www.neegozio.com/image/catalog/'+json['file_name']);
                }

                $('#button-refresh').trigger('click');
              }
            },
            error: function(xhr, ajaxOptions, thrownError) {
              alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
          });
        }
      }, 500);
    });
    //--></script>

</div>
{{ footer }} 