{{ header }}
<div class="container">
	<ul class="breadcrumb">
	{% for breadcrumb in breadcrumbs %}
		<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
	{% endfor %}
	</ul>
	<div class="row">{{ column_left }}
		{% if column_left and column_right %}
		{% set class = 'col-sm-6' %}
		{% elseif column_left or column_right %}
		{% set class = 'col-sm-9' %}
		{% else %}
		{% set class = 'col-sm-12' %}
		{% endif %}
		<div id="content" class="{{ class }}">{{ content_top }}
				<h1>{{ heading_title }}</h1>
					{% if sellercontacts %}
						{% for contact in sellercontacts %}
					<table class="table table-striped table-bordered">
					  <tr>
						<td style="width: 90%;"><strong>{{ contact.customer_name }}</strong><br>
						<strong>{% if contact.customer_id ==0 %}{{ contact.customer_email }}{% endif %}</strong></td>
						<td class="text-right"><a href='{{ contact.reply }}' > {{ button_view_all }}</a></td>
					  </tr>
					  <tr>
						<td style="width: 90%;">
						<p>{{ contact.message }} </p>
						</td>
						<td colspan="2">
							{{ contact.date_added }} 
						</td>
					  </tr>
					</table>
					{% endfor %}
					<div class="col-sm-6 text-left">{{ pagination }}</div>
					<div class="col-sm-6 text-right">{{ results }}</div>
					{% else %}
					<div class="text-center">{{ text_empty_result }}</div>
					{% endif %}
				{{ content_bottom }}</div>
				{{ column_right }}</div>
</div>
{{ footer }}