{{ header }}
<div class="container">
	<ul class="breadcrumb">
		{% for breadcrumb in breadcrumbs %}
		<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
		{% endfor %}
	</ul>
		{% if success %}
	  <div class="alert alert-success"> {{ success }}</div>
	  {% endif %}
	<div class="row">
		{{ column_left }}
		{% if column_left and column_right %}
		{% set class = 'col-sm-6' %}
		{% elseif column_left or column_right %}
		{% set class = 'col-sm-9' %}
		{% else %}
		{% set class = 'col-sm-12' %}
		{% endif %}
		<div id="content" class="{{ class }}">
			{{ content_top }}
				<h1>{{ text_storereview }}</h1>
					{% if reviews %}
					{% for review in reviews %}
					<table class="table table-striped table-bordered">
					  <tr>
						<td style="width: 50%;"><strong>{{ review.customer_name }}</strong></td>
						<td class="text-right">{{ review.date_added }}</td>
					  </tr>
					  <tr>
						<td colspan="2"><strong>{{ review.review_title }}</strong>
						<p>{{ review.review_description }}</p>
						<div class="rating">
						  {% for i in 1..5 %}
							{% if review.rating < i %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> {% endif %}
							{% endfor %}
						  </div>
						  </td>
					  </tr>
					</table>
					{% endfor %}
					<div class="col-sm-6 text-left">{{ pagination }}</div>
					<div class="col-sm-6 text-right">{{ results }}</div>
					{% else %}
					<div class="text-center">{{ text_empty_result }}</div>
					{% endif %}
					{% if not result_check %}
					<h2>{{ text_heading }}</h2>
					<form class="form-horizontal" id="form-review" action="{{ action }}" method="post">
					{% if customer_id %}
					{% if warning %}
					<div class="text-danger">{{ warning }}</div>
					{% else %}
					<div class="form-group required">
					  <div class="col-sm-12">
						<label class="control-label" for="input-name">{{ text_title }}</label>
						<input type="text" name="review_title" value="{{ review_title }}" id="input-name" class="form-control" />
						<input type="hidden" name="seller_id" value="{{ seller_id }}" />
						<input type="hidden" name="customer_id" value="{{ customer_id }}" />
						{% if error_title %}
							<div class="text-danger">{{ error_title }}</div>
						{% endif %}
					  </div>
					</div>
					<div class="form-group required">
					  <div class="col-sm-12">
						<label class="control-label" for="input-review">{{ text_description }}</label>
						<textarea name="review_description" rows="5" id="input-review" class="form-control">{{ review_description }}</textarea>
						{% if error_description %}
							<div class="text-danger">{{ error_description }}</div>
						{% endif %}
						<div class="help-block">{{ text_note }}</div>
					  </div>
					</div>
					<div class="form-group required">
					  <div class="col-sm-12">
						<label class="control-label">{{ text_rating }}</label>
						&nbsp;&nbsp;&nbsp; {{ entry_bad }}&nbsp;
						<input type="radio" name="rating" value="1" />
						&nbsp;
						<input type="radio" name="rating" value="2" />
						&nbsp;
						<input type="radio" name="rating" value="3" />
						&nbsp;
						<input type="radio" name="rating" value="4" />
						&nbsp;
						<input type="radio" name="rating" value="5" />
						&nbsp;{{ entry_good }}</div>
						{% if error_rating %}
							<div class="text-danger">{{ error_rating }}</div>
						{% endif %}
					</div>
					<div class="buttons clearfix">
					  <div class="pull-right">
						<button type="submit" id="button-review" data-loading-text="{{ text_loading }}" class="btn btn-primary">{{ button_continue }}</button>
					  </div>
					</div>
					{% endif %}
					{% else %}
					{{ text_login }}
					{% endif %}
				  </form>
					{% endif %}
			{{ content_bottom }}</div>
	{{ column_right }}</div>
</div>
{{ footer }}