{{ header }}
<div class="container">
	<ul class="breadcrumb">
		{% for breadcrumb in breadcrumbs %}
		<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
		{% endfor %}
	</ul>
	{% if success %}
	  <div class="alert alert-success"> {{ success }}</div>
	  {% endif %}
	<div class="row">
		{{ column_left }}
		{% if column_left and column_right %}
		{% set class = 'col-sm-6' %}
		{% elseif column_left or column_right %}
		{% set class = 'col-sm-9' %}
		{% else %}
		{% set class = 'col-sm-12' %}
		{% endif %}
		<div id="content" class="{{ class }}">
			{{ content_top }}
				<h1>{{ text_storereview }}</h1>
					{% if reviews %}
					{% for review in reviews %}
					<table class="table table-striped table-bordered">
					  <tr>
						<td style="width: 50%;"><strong>{{ review.customer_name }}</strong></td>
						<td class="text-right">{{ review.date_added }}</td>
					  </tr>
					  <tr>
						<td colspan="2"><strong>{{ review.review_title }}</strong>
						<p>{{ review.review_description }}</p>
						<div class="rating">
						  {% for i in 1..5 %}
						  {% if review.rating < i %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> {% endif %}
						  {% endfor %}
						  </div>
						  <div class="text-right">{{ review.status }}</div>
						  </td>
					  </tr>
					</table>
					{% endfor %}
					<div class="col-sm-6 text-left">{{ pagination }}</div>
					<div class="col-sm-6 text-right">{{ results }}</div>
					{% else %}
					<div class="text-center">{{ text_empty_result }}</div>
					{% endif %}
			{{ content_bottom }}</div>
	{{ column_right }}</div>
</div>
{{ footer }}