{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right"><a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-filter').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1>Rate Calculator </h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">Rate Calculator</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> Rate Calculator</h3>
      </div>
      <div class="panel-body">
        <form action="" method="post">
          <div  class="row">
            <div class="col-md-8"  style="margin-top: 20px;margin-left: 20%;padding:4px;border:2px solid black;">
              <p style="color:black;font-size: 18px;margin-top: 2%;margin-left: 2%;" >Rate Calculator</p>
              <hr>
              <div style="float:left;padding:4px;">
                <div class="form-group" style="width: 143%;">
                  <label for="usr"><strong>Seller Price:</strong></label>
                  <input type="text" class="form-control" name="seller_price" value="{{ seller_price }}" required>
                </div>
              </div>
              <div style="float:left;margin-top:8%;">
                <input type="submit" name="submit" class="btn" value="Calculate" style="margin-top: -19%;margin-left: 98%; position: relative;" >
                <!--<button type="button" class="btn">=</button>-->
              </div>
              <div style="float:left;padding:4px;">
                <div class="form-group" style="margin-left: 50%; width: 150%;">
                  {% if result %}
                    <label for="usr"><strong>Final Price :</strong> </label>
                    <input type="text" class="form-control" value=" {{ result }} ">
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="row">
          <!--<div class="col-sm-6 text-left">{{ pagination }}</div>-->
         <!-- <div class="col-sm-6 text-right">{{ results }}</div>-->
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}