{% if error_warning %}
<div class="alert alert-warning alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
{% endif %}
{% if payment_methods %}
<p>{{ text_payment_method }}</p>
{% for payment_method in payment_methods %}
<div class="radio">
  <label>{% if payment_method.code == code or not code %}
    {% set code = payment_method.code %}
    <input type="radio" name="payment_method" value="{{ payment_method.code }}" checked="checked" />
      {% if payment_method.code == 'cod' %}
        <input type="text" value="{{ payment_method.value }}">
        {% endif %}
    {% else %}
    <input type="radio" name="payment_method" value="{{ payment_method.code }}" />
    {% endif %}
    {{ payment_method.title }}
    {% if payment_method.terms %}
    ({{ payment_method.terms }})
    {% endif %} </label>
</div>
{% endfor %}
{% endif %}
<div>
    <div class="col-md-12" style="margin-top: 2%;border: 1px solid #c1c1c1;padding: 1%;margin-bottom: 2%;">
        <div class="cart-heading" style="font-weight: 700;font-size: 15px;">Add Coupon Code</div><hr>
        <div class="cart-content">
            <div class="row">
                <div class="col-md-8">
                    <label class="col-sm-4 control-label" for="input-coupon" style="font-weight: 600 !important; font-size: 12px;">Enter your coupon code</label>
                    <div class="col-md-6">
                        <input type="text" name="coupon" value="{{ coupon }}" placeholder="Enter your coupon code" id="input-coupon" class="form-control" />
                    </div>
                    <div class="col-md-2">
                        <input type="button" value="Apply" id="button-coupon" data-loading-text="{{ text_loading }}"  class="btn btn-primary" />
                    </div>
                </div>
            </div>
            <div id="notifcation"></div>
        </div>
    </div>
</div>
<p><strong>{{ text_comments }}</strong></p>
<p>
  <textarea name="comment" rows="3" class="form-control">{{ comment }}</textarea>
</p>

     <!--<div class="cart-module">
      <div class="cart-heading">Coupon</div>
      <div class="cart-content">
      <label class="col-sm-2 control-label" for="input-coupon">Coupon Code</label>
      <div class="col-sm-5">
      <input type="text" name="coupon" value="{{ coupon }}" placeholder="Enter Coupon code" id="input-coupon" class="form-control" />
      <div class="pull-right">
      <input type="button" value="Submit" id="button-coupon" data-loading-text="{{ text_loading }}"  class="btn btn-primary" />
      </div>
      </div>
      <div id="notifcation"></div>
    </div>
    </div>-->
<script>
$('#button-coupon').on('click', function() {
  $.ajax({
    type: 'POST',
    url: 'index.php?route=checkout/payment_method/validateCoupon',
     data: $('input[name="coupon"]'),
    dataType: 'json',   
    beforeSend: function() {
      $('.coupon-alert').remove();
      $('#button-coupon').attr('disabled', true);
    },
    complete: function() {
      $('#button-coupon').attr('disabled', false);
    },    
    success: function(json) {
      $('.coupon-alert').remove();
     
      if (json['error']) {
        $('.cart-content').before('<div class="coupon-alert alert alert-danger">' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
      }
      
      if (json['success']) {
        
         $('.cart-content').before('<div class="coupon-alert alert alert-success">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
          
        setTimeout(function () {
          $('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');
        }, 100);

        $('#cart > ul').load('index.php?route=common/cart/info ul li');
      }
    }
  });
});
</script>
      
{% if text_agree %}
<div class="buttons">
  <div class="pull-right">{{ text_agree }}
    {% if agree %}
    <input type="checkbox" name="agree" value="1" checked="checked" />
    {% else %}
    <input type="checkbox" name="agree" value="1" />
    {% endif %}
    &nbsp;
    <input type="button" value="{{ button_continue }}" id="button-payment-method" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
  </div>
</div>
{% else %}
<div class="buttons">
  <div class="pull-right">
    <input type="button" value="{{ button_continue }}" id="button-payment-method" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
  </div>
</div>
{% endif %} 