{{ header }}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  .lblstyle{
    font-size: large;
    font-weight: lighter;
    font-family: "Berlin Sans FB";
  }
  input.largerCheckbox {
    width: 30px;
    height: 30px;
  }
</style>
<div id="content">
  <div class="container-fluid"><br />
    <br />
    <div class="row">

      <div class="col-md-8">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators" style="bottom: -60px;">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" style="margin-top: -55px;">
            <div class="item active" style="height: 440px;width: 100%; padding: 20px;">
              <h2 style="text-align: center;">Why To Sell On Neegozio ?</h2>
              <div class="row">
                <div class="col-md-4">
                  <div style="float: left;border: 2px solid black;border-radius: 20px;width:auto;overflow: hidden;padding: 2px;text-align: center; height: auto;">
                    <img style="height: 100px;"  src="https://www.neegozio.com/image/catalog/computer.png">
                    <h4 style="text-align : center;">1 K +</h4>
                    <p style="text-align:center; font-size : 15px;font-weight : 700;">Over Thousand's of customer's visit our Site and order from us.</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div style="float: left;border: 2px solid black;margin-left: 1%;border-radius: 20px;width:auto;overflow: hidden;padding: 2px;text-align: center; height: auto;">
                    <img style="height: 100px;" src="https://www.neegozio.com/image/catalog/hand.png">
                    <h4 style="text-align : center;">500 +</h4>
                    <p style="text-align:center; font-size : 15px;font-weight : 700;">Business are already growing with us and its still growing.</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div style="float: left;border: 2px solid black;margin-left: 1%;border-radius: 20px;width:100%;height: 100%;overflow: hidden;padding: 2px;text-align: center; height: auto;">
                    <img style="height: 100px;" src="https://www.neegozio.com/image/catalog/money.png">
                    <h4 style="text-align : center;">10 Days</h4>
                    <p style="text-align:center; font-size : 15px;font-weight : 700;margin-bottom: 11%;">To Process Payment.</p>
                  </div>
                </div>
                <div class="col-md-offset-4  col-md-4" style="margin-top: 15px;">
                  <div style="float: left;border: 2px solid black;border-radius: 20px;width:auto;overflow: hidden;padding: 2px;text-align: center; height: auto;">
                    <img style="height: 100px;"  src="https://www.neegozio.com/image/catalog/truck.png">
                    <h4 style="text-align : center;">Logistic Support</h4>
                    <p style="text-align:center; font-size : 15px;font-weight : 700;">You just concentrate on your business and the rest we will take care.We will ship the product from your doorstep and deliver the same to customer's place.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="item" style="height: 440px;width: 100%;padding: 20px;">

              <h2 style="text-align: center;">Together Lets grow your business</h2>

              <div style="border-radius: 20px;padding: 10px;height: 80%;width: 99.8%; overflow: hidden;">
                <p style="text-align:center;">
                  <b style="font-size: 22px; font-family: Berlin Sans FB;">Fashion</b> <p style="font-family: Berlin Sans FB; font-size: 26px; text-align: center;">- Come and join us to spread Fashion across the country and worldwide.Lets take our fashion and new arrival to each and every corner of our country and the world.Together, we can acheive our goals and reach more and more customers.</p>
                </p>

              </div>
            </div>

            <div class="item"  style="height: 440px;width: 100%;padding: 20px;"  >

              <h2 style="text-align: center;">It is easy to sell on Neegozio</h2>

              <div style="border-radius: 20px;padding: 10px;height: 80%;width: 99.8%;overflow: hidden;">
                <p style="text-align:center;">

                  <b style="font-size: 22px;">What you need</b><br>
                </p>
                  <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                      <label class="lblstyle"><img src="https://www.neegozio.com/image/catalog/checkbox.png"/>Your Store Name</label>
                    </div>
                    <div class="col-md-5">
                      <label class="lblstyle"><img src="https://www.neegozio.com/image/catalog/checkbox.png"/>Your Credentials</label>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                      <label class="lblstyle"><img src="https://www.neegozio.com/image/catalog/checkbox.png"/>Your Store Address</label>
                    </div>
                    <div class="col-md-5">
                      <label class="lblstyle"><img src="https://www.neegozio.com/image/catalog/checkbox.png"/>Valid Phone number & Email-id</label>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                      <label class="lblstyle"><img src="https://www.neegozio.com/image/catalog/checkbox.png"/>Your Bank Details</label>
                    </div>
                    <div class="col-md-5">
                      <label class="lblstyle"><img src="https://www.neegozio.com/image/catalog/checkbox.png"/>Your GST Details</label>
                    </div>
                  </div>


              </div>
            </div>
          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" style="background: transparent;width: 0px; color: black" href="#myCarousel" data-slide="prev">
            <span style="position: relative;top: 30vh" class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" style="background: transparent;width: 0px; color: black"  href="#myCarousel" data-slide="next">
            <span style="position: relative;top: 30vh;left:-2px" class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title"><i class="fa fa-lock"></i> {{ text_login }}</h1>
          </div>
          <div class="panel-body">
            {% if success %}
            <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
              <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
            {% endif %}
            {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
              <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
            {% endif %}
            <form action="{{ action }}" method="post" enctype="multipart/form-data">
              <div class="form-group">
                <label for="input-username">{{ entry_username }}</label>
                <div class="input-group"><span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <input type="text" name="username" value="{{ username }}" placeholder="{{ entry_username }}" id="input-username" class="form-control" autocomplete="off" />
                </div>
              </div>
              <div class="form-group">
                <label for="input-password">{{ entry_password }}</label>
                <div class="input-group"><span class="input-group-addon"><i class="fa fa-lock"></i></span>
                  <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" autocomplete="off"/>
                </div>
                {% if forgotten %}
                <span class="help-block"><a href="{{ forgotten }}">{{ text_forgotten }}</a></span>
                {% endif %}
              </div>
              <div class="text-right">
                <button type="submit" class="btn btn-primary"><i class="fa fa-key"></i> {{ button_login }}</button>
              </div>
              {% if redirect %}
              <input type="hidden" name="redirect" value="{{ redirect }}" />
              {% endif %}
            </form>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title"><i class="fa fa-user"></i> Register </h1>
            <div class="panel-body">
              <a href="/index.php?route=account/seller" target="_blank" type="button" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-arrow-right"></span>  Start Selling</a>
            </div>
          </div>
        </div>
      </div>




    </div>
  </div>
</div>
{{ footer }}