{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-feedback" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid"> {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-feedback" class="form-horizontal">
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-author">{{ entry_author }}</label>
            <div class="col-sm-10">
              <input type="text" name="author" value="{{ author }}" placeholder="{{ entry_author }}" id="input-author" class="form-control" />
              {% if error_author %}
              <div class="text-danger">{{ error_author }}</div>
              {% endif %} </div>
          </div>

          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
              <tr>
                <td class="text-left">{{ entry_image }}</td>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="text-left"><a href="" id="thumb-image" data-toggle="image" class="img-thumbnail">
                    <img src="{{ thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" id="call_main" height="100" width="100" />
                  </a>
                  <input type="hidden" name="image" value="{{ image }}" id="input-image" class="call_response" />
                  <button type="button" data-toggle="tooltip" title="{{ button_upload }}" class="btn btn-default call_ajax" data-element="main-image" id=""><i class="fa fa-upload"></i></button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <!-- Feedback -->
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-text">{{ entry_feedback }}</label>
            <div class="col-sm-10">
              <textarea name="feedback" cols="60" rows="8" placeholder="{{ entry_feedback }}" id="input-text" class="form-control">{{ feedback }}</textarea>
              {% if error_feedback %}
                <div class="text-danger">{{ error_feedback }}</div>
              {% endif %} </div>
          </div>
          <input type="hidden" name="feedback_by" value="{{ feedback_by }}" />

          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-author">{{ entry_company_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="company_name" value="{{ company_name }}" placeholder="{{ entry_company_name }}" id="input-company_name" class="form-control" />
              {% if error_company_name %}
                <div class="text-danger">{{ error_company_name }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="status" id="input-status" class="form-control">
                
                {% if status %}
                
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                
                {% else %}
                
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                
                {% endif %}
              
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
$('.datetime').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: true,
	pickTime: true
});
//--></script> 
  <script type="text/javascript"><!--
$('input[name=\'product\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',			
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'product\']').val(item['label']);
		$('input[name=\'product_id\']').val(item['value']);		
	}	
});
//--></script>

  <script type="text/javascript"><!--


    $(document).on('click', ".call_ajax", function() {

      $this = $(this);
      element = $this.data('element');
      console.log(element);
      //console.log('1')
      $('#form-upload').remove();

      $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file[]" value="" multiple="multiple" /></form>');

      $('#form-upload input[name=\'file[]\']').trigger('click');

      if (typeof timer != 'undefined') {
        clearInterval(timer);
      }

      timer = setInterval(function() {
        if ($('#form-upload input[name=\'file[]\']').val() != '') {
          clearInterval(timer);

          $.ajax({
            url: 'index.php?route=common/filemanager/upload&user_token={{ user_token }}&directory={{ directory }}',
            type: 'post',
            dataType: 'json',
            data: new FormData($('#form-upload')[0]),
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function() {
              $('#button-upload i').replaceWith('<i class="fa fa-circle-o-notch fa-spin"></i>');
              $('#button-upload').prop('disabled', true);
            },
            complete: function() {
              $('#button-upload i').replaceWith('<i class="fa fa-upload"></i>');
              $('#button-upload').prop('disabled', false);
            },
            success: function(json) {
              if (json['error']) {
                alert(json['error']);

              }

              if (json['success']) {

                alert('File Uploaded Successfully!!');

                console.log(json['file_name'])
                if(element == 'main-image'){
                  console.log($this.prev().val('catalog/'+json['file_name']))
                  $this.prev().prev().find( "#call_main" ).attr('src','https://www.neegozio.com/image/catalog/'+json['file_name']);
                }
                else {
                  console.log($this.prev().val('catalog/'+json['file_name']))
                  //console.log($this.prev().prev().val('catalog/'+json['file_name']))
                  //$var = $this.prev().prev().val('catalog/'+json['file_name']);
                  $this.prev().prev().find( "#call_image" ).attr('src','http://localhost/test_opencart/image/catalog/'+json['file_name']);
                }

                $('#button-refresh').trigger('click');
              }
            },
            error: function(xhr, ajaxOptions, thrownError) {
              alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
          });
        }
      }, 500);
    });
    //--></script>



</div>
{{ footer }}