{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-review" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid"> {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-review" class="form-horizontal">
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-shipping_fee">{{ entry_shipping_fee }}</label>
            <div class="col-sm-10">
              <input type="text" name="shipping_fee" value="{{ shipping_fee }}" placeholder="{{ entry_shipping_fee }}" id="input-author" class="form-control" />
              {% if error_shipping_fee %}
              <div class="text-danger">{{ error_shipping_fee }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-pack_print_fee">{{ entry_pack_print_fee }}</label>
            <div class="col-sm-10">
              <input type="text" name="pack_print_fee" value="{{ pack_print_fee }}" placeholder="{{ entry_pack_print_fee }}" id="input-pack_print_fee" class="form-control" />

              {% if error_pack_print_fee %}
              <div class="text-danger">{{ error_pack_print_fee }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-text">{{ entry_marketplace_fee }}</label>
            <div class="col-sm-10">
              <input type="text" name="marketplace_fee" value="{{ marketplace_fee }}" placeholder="{{ entry_marketplace_fee }}" id="input-author" class="form-control" />
              {% if error_marketplace_fee %}
              <div class="text-danger">{{ error_marketplace_fee }}</div>
              {% endif %} </div>
          </div>
          <!-- Feedback -->
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-text">{{ entry_comission_fee }}</label>
            <div class="col-sm-10">
              <input type="text" name="comission_fee" value="{{ comission_fee }}" placeholder="{{ entry_comission_fee }}" id="input-author" class="form-control" />
              {% if error_comission_fee %}
                <div class="text-danger">{{ error_comission_fee }}</div>
              {% endif %} </div>
          </div>

          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-text">{{ entry_collection_fee }}</label>
            <div class="col-sm-10">
              <input type="text" name="collection_fee" value="{{ collection_fee }}" placeholder="{{ entry_collection_fee }}" id="input-author" class="form-control" />
              {% if error_collection_fee %}
                <div class="text-danger">{{ error_collection_fee }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-text">{{ entry_return_cost }}</label>
            <div class="col-sm-10">
              <input type="text" name="return_cost" value="{{ return_cost }}" placeholder="{{ entry_return_cost }}" id="input-author" class="form-control" />
              {% if error_return_cost %}
                <div class="text-danger">{{ error_return_cost }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-text">{{ entry_gst }}</label>
            <div class="col-sm-10">
              <input type="text" name="gst" value="{{ gst }}" placeholder="{{ entry_gst }}" id="input-author" class="form-control" />
              {% if error_gst %}
                <div class="text-danger">{{ error_gst }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="status" id="input-status" class="form-control">
                
                {% if status %}
                
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                
                {% else %}
                
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                
                {% endif %}
              
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
$('.datetime').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: true,
	pickTime: true
});
//--></script> 
  <script type="text/javascript"><!--
$('input[name=\'product\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',			
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'product\']').val(item['label']);
		$('input[name=\'product_id\']').val(item['value']);		
	}	
});
//--></script></div>
{{ footer }}