{{ header }}{{ column_left }}  
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-product-buy-now" data-toggle="tooltip" title="{{button_save}}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{cancel }}" data-toggle="tooltip" title="{{button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{heading_title }}</h1>
      <ul class="breadcrumb">
        <?php foreach ($breadcrumbs as $breadcrumb) { ?>
        <li><a href="{{breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        <?php } ?>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{action }}" method="post" enctype="multipart/form-data" id="form-product-buy-now" class="form-horizontal">
		<ul class="nav nav-tabs">
			  <li class="active"><a href="#globalsetting" role="tab" data-toggle="tab">Global Setting</a></li>
			  <li><a href="#pro-page" role="tab" data-toggle="tab">Product Page</a></li>
			  <li><a href="#other-page-now" role="tab" data-toggle="tab">Common Buy Now Button</a></li> 
          </ul>
		  <div class="tab-content">
		<div class="tab-pane active" id="globalsetting">
		<div class="click-title"><a href="https://www.opencart.com/index.php?route=marketplace/extension/info&extension_id=35307&filter_search=mdtecho" target="_blank"><div class="transbox">
    			<p>Click here to Enable all feature</p>
  			</div></a><a href="https://www.opencart.com/index.php?route=marketplace/extension/info&extension_id=35307&filter_search=mdtecho" target="_blank"><img src="view/image/buynow/general.png" /></a></div>
		</div>
	  <div class="tab-pane" id="pro-page">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{entry_status }}</label>
            <div class="col-sm-10">
              <select name="buy_now_status" id="input-status" class="form-control">
                {% if buy_now_status %} 
                <option value="1" selected="selected">{{text_enabled }}</option>
                <option value="0">{{text_disabled }}</option>
                  {% else %}
                <option value="1">{{text_enabled }}</option>
                <option value="0" selected="selected">{{text_disabled }}</option>
               {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">Button text</label>
            <div class="col-sm-10">
             <input type="text" name="buy_now_text" class="form-control" value="{{buy_now_text }}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">Button text color</label>
            <div class="col-sm-10">
             <input type="text" name="buy_now_text_color" class="form-control demo" data-control="hue" value="{{buy_now_text_color }}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">Button color</label>
            <div class="col-sm-10">
             <input type="text" name="buy_now_color" class="form-control demo" data-control="hue" value="{{buy_now_color }}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">Button Width</label>
            <div class="col-sm-10">
             <input type="text" name="buy_now_width" class="form-control" value="{{buy_now_width }}" placeholder="Width in px">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">Button Height</label>
            <div class="col-sm-10">
             <input type="text" name="buy_now_height" class="form-control" value="{{buy_now_height }}" placeholder="Height in px">
            </div>
          </div>
		           <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">Button Font Size</label>
            <div class="col-sm-10">
             <input type="text" name="buy_now_font_size" class="form-control" value="{{buy_now_font_size }}" placeholder="font size in px">
            </div>
          </div>
		  <div class="click-title"><a href="https://www.opencart.com/index.php?route=marketplace/extension/info&extension_id=35307&filter_search=mdtecho" target="_blank"><div class="transbox">
    			<p>Click here to Enable all feature</p>
  			</div></a><a href="https://www.opencart.com/index.php?route=marketplace/extension/info&extension_id=35307&filter_search=mdtecho" target="_blank"><img src="view/image/buynow/product.png" /></a></div>
		  </div>
		  <div class="tab-pane" id="other-page-now">
		  <div class="click-title"><a href="https://www.opencart.com/index.php?route=marketplace/extension/info&extension_id=35307&filter_search=mdtecho" target="_blank"><div class="transbox">
    			<p>Click here to Enable all feature</p>
  			</div></a><a href="https://www.opencart.com/index.php?route=marketplace/extension/info&extension_id=35307&filter_search=mdtecho" target="_blank"><img src="view/image/buynow/category.png" /></a></div>
			 </div>
		  </div>
		  </div>
        </form>
      </div>
    </div>
  </div>
</div>
<style>
#form-product-buy-now .nav-tabs{
	margin-bottom: 0px;
}
.click-title{
	background-color: #000;
    opacity: 0.4;
}
.click-title .transbox{
	margin: 30px;
    background-color: #000;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60);
    margin-top: 15% !important;
    overflow: hidden;
    position: absolute;
    width: 46%;
    text-align: center;
    padding-top: 1%;
    margin-left: 8.5%;
}
.click-title p{
	font-size: 20px;
    text-transform: uppercase;
    color: #fff;
}
.click-title img{
    width: 100%;
}
</style> 
<script src="view/javascript/bootstrap/colorpicker/jquery.minicolors.min.js" type="text/javascript"></script>
<link href="view/javascript/bootstrap/colorpicker/jquery.minicolors.css" type="text/css" rel="stylesheet"/>
<!--<link href="https://mjolnic.com/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet">
<script src="https://mjolnic.com/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js"></script>-->
<script type="text/javascript">
$(function(){
  var colpick = $('.demo').each( function() {
    $(this).minicolors({
      control: $(this).attr('data-control') || 'hue',
      inline: $(this).attr('data-inline') === 'true',
      letterCase: 'lowercase',
      opacity: false,
      change: function(hex, opacity) {
        if(!hex) return;
        if(opacity) hex += ', ' + opacity;
        try {
          console.log(hex);
        } catch(e) {}
        $(this).select();
      },
      theme: 'bootstrap'
    });
  });
  
  var $inlinehex = $('#inlinecolorhex h3 small');
  $('#inlinecolors').minicolors({
    inline: true,
    theme: 'bootstrap',
    change: function(hex) {
      if(!hex) return;
      $inlinehex.html(hex);
    }
  });
});
</script>
{{footer }}
